[2018-02-26 00:41] rodluger opened #1 "Move code to C++"
The code is currently pretty slow since I've put zero effort into optimizing it. I plan to switch it over to C/C++ and use something like ctypes to interface with Python.

[2018-02-26 00:42] rodluger opened #2 "Get autodiff working"
Ultimately we want to use starry for inference, so having analytic derivatives of the light curve will be super useful.

[2018-02-26 00:42] rodluger opened #3 "Make the code photodynamical"
Right now, the user inputs arrays of (x,y) positions for the occultor. This is great for some applications, but I want to allow users to specify orbital parameters and get a light curve out, either via a simple Keplerian solver or an N-body code. I coded all this up for planetplanet, so incorporating it into starry shouldn't be too hard.

[2018-02-26 00:43] rodluger opened #4 "Rigorous test suite"
I tested the code a ton, but we still need a rigorous set of benchmarks in the tests/ folder

[2018-02-26 00:43] rodluger opened #5 "Application to real data"
A sample problem where we try to recover the map of HD 189733b (for instance) would be nice to include.

[2018-02-26 00:51] rodluger opened #6 "Create documentation"
Something like planetplanet's documentation: https://rodluger.github.io/planetplanet/

[2018-02-26 00:53] rodluger opened #7 "Check my math"
Check the equations in the paper for typos and errors and comb through the Mathematica scripts to ensure my proofs and derivations are correct.

[2018-02-26 00:56] rodluger opened #8 "Write introduction"
Specifically, we need to compile references to all relevant papers in the literature.

[2018-02-26 01:48] rodluger commented on #8
[Majeau et al. (2010)](http://adsabs.harvard.edu/abs/2012ApJ...747L..20M) use Green's theorem to compute spherical harmonics integrals, but they evaluate both the inner and outer integrals numerically.

[2018-02-26 01:55] rodluger opened #9 "Finish proofs"
Some proofs still need to be added to the appendix.

[2018-02-26 02:03] rodluger opened #10 "Compare to SPIDERMAN"
Probably the easiest way to benchmark stuff.

[2018-02-26 02:08] rodluger commented on #5
We should use the secondary eclipse measurements from [Agol et al. (2010)](http://adsabs.harvard.edu/abs/2010ApJ...721.1861A) and phase curve from [Knutson et al. (2007)](http://adsabs.harvard.edu/abs/2007Natur.447..183K). There may be a lot more data today, so we should search the literature.

[2018-02-26 02:09] dfm commented on #1
Cool. I'd recommend using pybind11 instead of ctypes. It has a lot of nice features that'll make it easier to debug and maintain. Happy to help there!

[2018-02-26 02:10] rodluger commented on #5
Could actually use PLD to de-trend the Spitzer light curves in Agol et al. even better...

[2018-02-26 19:20] ericagol commented on #4
It's useful to have analytic tests to compare with, and one that could be tried is a limb-brightened star.   I derived the analytic formulae for this paper:

http://adsabs.harvard.edu/abs/2010ApJ...722L..75S

Of course, this is circularly symmetric, and so would involve a series of m=0 spherical harmonics (I think), but may still be an adequate test.

Another potentially useful test may be that th

[2018-02-26 19:40] ericagol opened #11 "Deriving surface brightness of the Earth from EPOXI moon occultation"
Figure 6 reminded me that it would be cool to see what could be inferred from the color-dependent EPOXI observation of the Earth transited by the Moon:

https://www.nasa.gov/topics/solarsystem/features/epoxi_transit.html

Here's a four-color version of the movie:

https://www.dropbox.com/s/yykr3n91zqmf0oq/Earth4_4colors-1202.mov?dl=0

The one challenge, of course, is that the Earth's emission is d

[2018-02-27 19:26] rodluger commented on #1
Working on coding things up in the starry/cpp directory.

[2018-02-27 21:18] rodluger opened #13 "Instabilities in the s2 term"
The elliptic integrals K and Pi in the Mandel & Agol solution diverge when k --> 1. The result is still finite, since things cancel, but we should find a way to re-parametrize this.

I think some of the functions for the higher order terms might also diverge when k --> inf, but I need to investigate this further.

[2018-02-27 22:52] ericagol commented on #13
Abramowitz & Stegun equation (17.3.26) shows that lim_{k^2->1} (K-1/2*\ln{16/(1-k^2)}) = 0.

I checked equations (A2), and it looks like in all cases that n^2 < 0.

This corresponds to Case (iv) Circular Case n< 0 in Abramowitz & Stegun, in which case
we can use the relations (17.7.15) & (17.7.17).  Note:  A&S' n is n^2 & sin(\alpha) = k.

With this substitution, the elliptic integrals still diver

[2018-02-27 23:43] rodluger commented on #13
Hi Eric,

Thanks for these relations! I'll work those into the paper and we can chat more about writing a letter on these improvements.
And thanks for catching the typo. That 2 in front of the K term should be multiplying all three elliptic integrals. I had it right in my code, which is why I didn't catch it!

[2018-02-27 23:44] ericagol commented on #13
Yep, that's how I missed the typos in M&A...   I'm working through the full transformations of the equations - I think they will be more elegant.

[2018-02-28 00:34] ericagol commented on #13
We should compare with Pal's solution, which also includes the derivatives:

[2018-02-28 17:03] rodluger opened #14 "phase curve v. rotation curve"
I think what I'm technically computing are "rotational light curves", not phase curves, since the phase of a planet refers specifically to the illumination pattern due to the star, which doesn't matter for emission. Should I change the terminology throughout the paper?

[2018-02-28 18:40] ericagol commented on #14
Yes, that sounds like a good idea.  Phase curves are a subset of rotational light curves when a planet is tidally locked.  This could be explained in the introduction.

[2018-02-28 18:52] jlustigy commented on #14
Also, when it comes to observing these effects for exoplanets, I tend to
think about phase curves at thermal wavelengths without nulling the star
with a coronagraph or star shade, and rotational light curves at optical or
near IR wavelengths with the star nulled. This distinction is not strict,
but it does follow from contrast and IWA arguments.

On Wed, Feb 28, 2018 at 10:40 AM, Eric Agol <notifi

[2018-02-28 19:00] ericagol commented on #14
Right, although I think of the physical distinction as being due to
orbital phase ("phase curve"), or rotational phase ("rotational light
curve"),
which roughly correlates with wavelength, given the division you propose.

You could imagine a exceptions to the wavelength division, though;
for instance a planet might have non-uniform albedo, and hence the thermal
infrared emission may be a function

[2018-03-02 12:52] dfm opened #15 "Switch to templated Eigen types instead of homebuilt matrices"
This will be easier to maintain and get higher performance. I'll see what I can do to take a stab at this over the weekend.

[2018-03-02 16:13] rodluger commented on #15
Cool. The one matrix inversion I do -- to compute the change of basis matrix -- is a one-time thing, so optimizing that is not essential. Also, it's a super sparse matrix of integers with block structure, so I'm sure we could find a way to invert it without a brute force inversion routine.

But I do take a few dots products of matrices and vectors every iteration. Can Eigen really speed those up?

[2018-03-02 16:18] rodluger opened #16 "Use new Mandel & Agol routines"
Eric coded these up in Julia. Use these to compute the s_2 vector term. Note that we need to multiply by 2*pi/3 to get the right normalization.

[ellk_bulirsch.txt](https://github.com/rodluger/starry/files/1775839/ellk_bulirsch.txt)
[transit_quad.txt](https://github.com/rodluger/starry/files/1775840/transit_quad.txt)
[ellec_bulirsch.txt](https://github.com/rodluger/starry/files/1775841/ellec_bulir

[2018-03-02 16:18] rodluger opened #17 "Switch to Bulirsch routines?"
Currently using the GSL elliptic integral routines. The Bulirsch ones may or may not be faster, so we should do some speed tests!

[ellk_bulirsch.txt](https://github.com/rodluger/starry/files/1775839/ellk_bulirsch.txt)
[ellec_bulirsch.txt](https://github.com/rodluger/starry/files/1775841/ellec_bulirsch.txt)
[ellpic_bulirsch.txt](https://github.com/rodluger/starry/files/1775842/ellpic_bulirsch.txt)

[2018-03-02 16:35] dfm commented on #15
I meant everything in here: https://github.com/rodluger/starry/blob/master/starry/cpp/integrate.cpp

You shouldn't ever allocate arrays of arrays to create matrices!!

And yes - you can get much faster dot products because most CPUs include vectorized operations for these types of things.

[2018-03-02 16:42] rodluger commented on #15
Ah, sweet. Knock yourself out then :) If you have a chance, I commit
similar sins in the rotation module
<https://github.com/rodluger/starry/blob/master/starry/cpp/rotate.cpp>.
Note that I had to mess around with the pointers to create a matrix that is
indexed from -m to m (instead of 0 to 2m).

On Fri, Mar 2, 2018 at 8:35 AM Dan Foreman-Mackey <notifications@github.com>
wrote:

[2018-03-02 16:44] rodluger commented on #1
Code works and is somewhat benchmarked. I tried getting pybind11 to work but failed miserably. I'm going to code it up with ctypes now so I can get it talking to my Python routines, but @dfm feel free to switch it over to pybind11 when you get a chance.

[2018-03-15 22:18] rodluger opened #19 "Fix numerical instabilities as ksq --> inf."
I'll add some test cases soon.

[2018-03-19 17:39] rodluger commented on #19
Added a section to the paper on this. I think we're good.

[2018-03-19 17:39] #19 closed

[2018-03-19 17:39] rodluger commented on #17
Done!

[2018-03-19 17:39] #17 closed

[2018-03-19 17:39] rodluger commented on #15
Done!

[2018-03-19 17:39] #15 closed

[2018-03-19 17:40] rodluger commented on #9
Done!

[2018-03-19 17:40] #9 closed

[2018-03-19 17:40] rodluger commented on #1
Done!

[2018-03-19 17:40] #1 closed

[2018-03-19 22:59] #14 closed

[2018-03-20 02:09] rodluger commented on #10
Spiderman isn't currently that well documented, and I couldn't get their spherical harmonics brightness maps to work. Since we are benchmarking everything against numerical integration, I'm going to close this issue and move on.

[2018-03-20 02:11] rodluger commented on #16
I'm mostly done implementing these.

[2018-03-20 02:32] rodluger opened #20 "Speed up the limb darkening calculations"
Currently, the calculation for a quadratically limb-darkened star is about 6 times slower than batman:
![image](https://user-images.githubusercontent.com/9323819/37632605-5136cabe-2bac-11e8-9579-2f76f8f0ecf8.png)

Batman currently uses a [polynomial approximation](https://github.com/lkreidberg/batman/blob/master/c_src/_quadratic_ld.c#L304) to the elliptic integrals of the first and second kind, so

[2018-03-20 02:33] rodluger commented on #20
Currently, the calculation for a quadratically limb-darkened star is about 6 times slower than batman:
![image](https://user-images.githubusercontent.com/9323819/37632605-5136cabe-2bac-11e8-9579-2f76f8f0ecf8.png)

[2018-03-20 11:49] deitrr commented on #7
Not sure if it ultimately matters, but I think you still need abs value signs around _m_ in Equation 3 (_m_<0 part): top of summation, inside _m_ choose _j_, exponent on _x_. Also in the first term, left of the brace.

[2018-03-20 15:35] ericagol commented on #20
Is Batman using the ellpi_bulirsch code?

[2018-03-20 15:36] rodluger commented on #20
[Yes](https://github.com/lkreidberg/batman/blob/master/c_src/_quadratic_ld.c#L265)

[2018-03-20 16:19] rodluger commented on #20
OK, I'm now computing only the terms of the solution vector **s^T** that we actually need. Switching to the polynomial approximation of the elliptic integrals doesn't help significantly. The difference in speed between starry and batman is now a factor of 4, which is better, but I suspect we can improve this even more.

Things to consider:
   - Inline functions?
   - Tabulate the binomial coeffici

[2018-03-20 16:21] rodluger commented on #7
Yes, good catch, thanks!

[2018-03-20 17:24] ericagol commented on #20
@rodluger

My Julia code seems comparable or a bit faster than Batman (although I'm only computing linear limb-darkening case, but I am computing the full elliptic integrals), although I'm not sure what is going on with the 10-point case.  Could there be some overhead to calling C from Python?

![quadratic_timing_julia](https://user-images.githubusercontent.com/243664/37671386-d87de184-2c28-11e8-8

[2018-03-20 18:37] rodluger commented on #20
There's definitely some overhead, but Laura also wraps her C in Python (though not with Pybind, so there may be a slight difference).

It's more likely to be due to the overhead of doing the calculations on spherical harmonics. Our linear limb darkening term is probably similar in speed, but my quadratic term requires some recursion to evaluate -- it's not a one-liner like in batman. I tried makin

[2018-03-20 18:42] rodluger commented on #13
Copying email exchange with Eric for future reference:

@rodluger wrote:

@ericagol wrote:

![image](https://user-images.githubusercontent.com/9323819/37675922-bd8d9918-2c33-11e8-8d5a-17402e59db7f.png)

![elliptic_pi_transformation](https://user-images.githubusercontent.com/9323819/37675920-bd6a6f2e-2c33-11e8-9bf2-44002c3e8016.png)

[test_ellpi.txt](https://github.com/rodluger/starry/files/1830705

[2018-03-20 18:46] rodluger commented on #13
@ericagol , if you think this is the best approach, I will code up the [Julia incomplete elliptic integral routine](https://github.com/nolta/Elliptic.jl/blob/master/src/slatec.jl#L244) in C++ and use that to compute the PI term in the vicinity of b = r.

BTW, I think another region of numerical instability is near abs(b - r) = 1. This is close to first and last contact, where you can see from Figu

[2018-03-20 19:27] ericagol commented on #13
It looks like these may be the Carlson elliptic integrals, which are discussed and implemented in Numerical Recipes.

[2018-03-20 19:38] ericagol commented on #13
@rodluger  When I have time, I would like to go through the equations in all of the limits where divergences might occur, and see whether there are transformed expressions which can avoid divergences.

[2018-03-21 15:48] rodluger commented on #11
I can't currently model this with `starry` because of the elliptical shape of the terminator. But I'm pretty sure that the line integral of my Greens polynomials about the terminator is (surprise!) just an elliptic integral, so I think we'll eventually be able to do this. I'm planning on a second paper down the line on occultations/phase curves in reflected light, so this would be a perfect thing

[2018-03-21 15:48] #11 closed

[2018-03-21 21:47] rodluger opened #21 "Rodrigo doesn't understand consts in C++"
Can someone check my code to see where I should and shouldn't precede declarations with `const`? Does it really matter, particularly if we're going to autodiff stuff in the future? I haven't at all been consistent with my usage.

[2018-03-21 23:03] rodluger commented on #3
First light!!!

![image](https://user-images.githubusercontent.com/9323819/37742085-58893da8-2d21-11e8-97c2-b2b4f5af701e.png)

[2018-03-22 23:02] rodluger opened #22 "How do we ensure our surface maps are everywhere positive?"
Given a set of spherical harmonic coefficients, how do we (easily | quickly | analytically) find out whether they lead to a map that is positive everywhere? This could be important for enforcing a physical prior when doing MCMC.

I think we need something analogous to [Sturm's Theorem](https://en.wikipedia.org/wiki/Sturm%27s_theorem), but on the surface of the sphere in 2D. Here's some literature

[2018-03-23 22:53] rodluger opened #23 "Issues for large occultors"
Earth secondary eclipse -- numerical instabilities at ingress/egress. Could be due to one of the instabilities in the s2 term or something new. I'm going to investigate.
![image](https://user-images.githubusercontent.com/9323819/37856526-2018c6f4-2eb2-11e8-8b44-d273dc73bb6f.png)

[2018-03-23 23:33] rodluger commented on #23
The issue is for `m >= 0` harmonics starting at `l = 4` (though there seems to be a *bit* of instability for `l = 3`). [This script](https://github.com/rodluger/starry/blob/85cc0362e606ba8e292fd54dd9ca28142c9c3e77/misc/issues/instability.py) reproduces the error. I'm going to investigate.
![image](https://user-images.githubusercontent.com/9323819/37857368-a79f1cae-2eb7-11e8-98f0-ca2541bd5b79.png)

[2018-03-23 23:39] rodluger commented on #23
Negative orders get unstable when the inclination isn't 90, so something about the symmetry was hiding it for those. Also, if I double the planet radius the instability mostly goes away.

[2018-03-27 11:36] deitrr commented on #7
In Figure 2 and Equation 44, you have a rotation angle \omega, but you refer to this as \theta in the caption of Fig 2

[2018-03-27 11:47] deitrr commented on #7
Also, I am struggling with producing the form of Equation 6. You've done some kind of transformation to change the indexing of the series, so that the _z_ exponent is _k_, no? I'm not worried about it--I've checked in mathematica that Equation 4 and 6 produce the same values, but I'm missing some key steps. In the attached image, Func1 is Equation 4 (unnormalized), Func2 is Equation 6, and Func3 i

[2018-03-27 22:02] rodluger commented on #23
FWIW, here's what I get using 24-digit precision (from the Boost library's MPFR wrapper).
![image](https://user-images.githubusercontent.com/9323819/37997440-bbabc7d6-31cf-11e8-975b-82001401ebde.png)

[2018-03-27 22:09] #3 closed

[2018-03-27 22:19] rodluger commented on #7
Hmmmmm. I have absolutely no idea how I derived it! But I suspect that if you write
[code]
and use the relation for [factorials of half-integers](https://en.wikipedia.org/wiki/Half-integer#Sphere_volume) you can get there.
Can you send me your derivation?

[2018-03-28 00:37] ericagol commented on #23
These look pretty good !I think there *should* be a way to do this with Float64.  What does the brightening mean?  Does the planet have negative flux in that model?

[2018-03-28 00:48] rodluger commented on #23
Yeah, the map is negative near the limb. I set the Y_{0,0} coefficient to 1 when I plot each of these curves, but for some spherical harmonics the absolute value of the specific intensity can actually exceed `2 * sqrt(PI)` (the amplitude of Y_{0,0}), leading to negative flux. If only there were an analytic way to compute whether a map goes negative! I'm still hopeful about Sturm's theorem...

[2018-03-28 00:51] rodluger commented on #23
Also, a keen eye would notice a tiny bump at first contact for the m = 0 curve. This actually happens at all orders and degrees, including Y_{0,0}, regardless of occultor size, floating point precision, elliptic integral tolerance, and just about every other nob I can turn:
![image](https://user-images.githubusercontent.com/9323819/38002441-40c57df6-31e7-11e8-817c-4eaec42b1f1e.png)
It's negligible

[2018-03-28 12:48] deitrr commented on #7
Thanks, and sure, give me some time to tidy it up so that it is readable to other humans!

[2018-03-28 17:05] dfm commented on #21
I don't think that `const`s will make too much of a difference, but the thing that *will* help is passing by reference instead of value. For example in [rotation.h](https://github.com/rodluger/starry/blob/master/starry/rotation.h#L45), I would replace:

[code]

by

[code]

The way that you have it written, it is copying `s1`, etc., but C++ has the feature that it can pass by reference without chan

[2018-03-28 17:16] rodluger commented on #21
Nice, thanks for catching those. Will do.

[2018-03-28 17:19] rodluger opened #26 "Better error handling"
Most of the errors thrown in *starry* are sloppy and look like [this](https://github.com/rodluger/starry/blob/master/starry/solver.h#L199), where I print to screen with `std::cout` and abort with `exit(1)`. It would be much nicer to have a central logging system with error codes and such. I defined a few error codes [here](https://github.com/rodluger/starry/blob/master/starry/constants.h#L67) but

[2018-03-28 17:22] dfm commented on #26
Take a look [here](http://lmgtfy.com/?q=c%2B%2B+exceptions)...

(it's in the standard library 😄)

[2018-03-28 17:23] dfm commented on #26
PS and pybind11 automatically converts C++ exceptions to Python exceptions.

[2018-03-28 17:31] rodluger commented on #26
Lol. Thanks :)

On Wed, Mar 28, 2018 at 10:23 AM Dan Foreman-Mackey <
notifications@github.com> wrote:

[2018-03-28 18:07] #21 closed

[2018-03-28 18:22] rodluger commented on #6
@jlustigy Can you set up the project on readthedocs? The bare-bones documentation is in **docs/** and seems to be compiling fine.

[2018-03-28 20:59] rodluger commented on #23
Ideas:

- Multiply by `br32` in [`P()`](https://github.com/rodluger/starry/blob/master/starry/solver.h#L224) rather than in [`computeM()`](https://github.com/rodluger/starry/blob/f6b373cf41e9543dc9f3a39d86eac34774f586aa/starry/solver.h#L156) when `ksq < 1`
- Tabulate `sin * cos` in the `I` and `H` primitive integrals.

[2018-03-29 00:37] rodluger opened #27 "Numerical integrator needs work"
The adaptive mesh technique doesn't converge to the right answer as the requested precision is increased indefinitely. We need stronger ways to ensure the mesh is refined near the occultor boundary.

[2018-03-29 18:04] ericagol commented on #23
Is this the same issue you emailed me about?  Is this resolved now?

[2018-03-30 00:35] rodluger opened #28 "Uninitialized variables..."
...are probably in `computesT()` somewhere. I'm getting some weird values every now and then in the `flux` that are not consistently reproducible. I need to run `valgrind` to find the source.

[2018-03-31 17:49] rodluger commented on #23
@ericagol FWIW the weird offset above was due to the value of PI I was using, so that's fixed!

[2018-03-31 19:27] ericagol commented on #23
One time I used a radiation transfer code that used two slightly different values for the Thomson cross section in different parts of the code.  It took a long time to find the bug which manifested as negative fluxes.

Eric Agol
Astronomy Professor
University of Washington

[2018-04-02 23:55] rodluger commented on #13
Resolved!

[2018-04-02 23:55] #13 closed

[2018-04-02 23:56] rodluger commented on #23
Resolved using several Taylor expansions and re-parameterizations. However, for `l > 8` things look pretty hopeless when the occultor is larger than the occulted. Discussion in paper.

[2018-04-02 23:57] #16 closed

[2018-04-03 02:23] ericagol commented on #23
There should be a way to improve this

Eric Agol
Astronomy Professor
University of Washington

[2018-04-03 17:14] rodluger commented on #23
I'd love to chat when you get back. This is where we currently stand:
![image](https://user-images.githubusercontent.com/9323819/38264128-f109ac8e-3726-11e8-892d-a84fc7f64c34.png)
I get sub-ppb precision at all `Ylm` degrees up to at least `l = 10` for occultors that are smaller than the occulted body. When the radius ratio exceeds 1, I get sub-ppm precision for `l < 5` and sub-ppt precision for `

[2018-04-03 18:53] #28 closed

[2018-04-05 00:48] rodluger commented on #6
Documentation is now compiling on **travis**. I gave up on **readthedocs** because I need to compile my code so that **autodoc** can access the docstrings. Compiling takes a pretty long time, so it's more efficient to just do it on **travis** after building the code and compiling the paper. I push the docs to the **gh-pages** branch and they are always up to date [here](https://rodluger.github.io/

[2018-04-05 23:51] rodluger opened #30 "simultaneous transits"
Eventually I should use Green's theorem as in Pal (2012) to compute overlapping transit light curves, but for now the code should at least compute simultaneous-but-not-overlapping transits correctly. This [line](https://github.com/rodluger/starry/blob/7df7c3e135ed1ad26044cacb6978290f1b9511ba/starry/orbital.h#L299) needs to be changed to make the flux calculation cumulative.

[2018-04-06 20:35] rodluger opened #31 "One more instability in the s2 term"
The solution for the s2 term (linear limb darkening) is unstable as `k2 --> 1`, which occurs when `b + r --> 1`. Here's a plot of the flux in the vicinity of the instability. It's present on both sides of the boundary, so we should probably find a Taylor expansion to apply there.

![image](https://user-images.githubusercontent.com/9323819/38443069-3dfb4096-399f-11e8-93d5-e6bfb32d5536.png)

[This s

[2018-04-06 23:33] rodluger commented on #20
I still haven't been able to get within better than a factor of 4-5 of batman. I'm going to code up a separate module to do stellar transits, which should remove most of the overhead.

[2018-04-07 17:03] rodluger commented on #20
Ok, it worked. I stripped the quadratic limb darkening calculation of all the overhead, and now we are within a factor of ~2, so I'm happy, especially because our expressions are more stable! If I use the polynomial approximation to the elliptic integrals like Laura does, then I get to within a factor of ~1.5.

[2018-04-07 17:03] #20 closed

[2018-04-07 17:06] rodluger opened #32 "Speed ups"
When the occultor is not touching the limb of the planet, `cos(lam)` and `cos(phi)` are both zero and `sin(lam)` and `sin(phi)` are both unity. A lot of CPU cycles can be saved if we code this case up separately to avoid long recurrence relations whose answer is zero (or a constant).

[2018-04-07 17:12] rodluger opened #33 "Compile speed-up?"
The 12th order taylor expansion in [taylor.h](https://github.com/rodluger/starry/blob/master/starry/taylor.h#L100) causes compile time to be several minutes. I could (should) reduce the order of the expansion, but are there any other tricks to get the compile time down?

[2018-04-07 21:17] rodluger commented on #20
Woot:

![image](https://user-images.githubusercontent.com/9323819/38460431-75fa2bea-3a6e-11e8-8dd9-a7c67eb6146d.png)

[2018-04-07 23:33] dfm commented on #33
I'm not too sure, but you could try cutting back on the number of times that you compute `G.ksq()` (you could just compute it once and then reuse it right?).

[2018-04-08 00:05] rodluger commented on #33
It's coded smarter than it appears :) I overloaded () to return the value
of ksq if it's already been computed. When I pass an integer to the method,
it returns ksq to that power, again using the cached value if it already
exists.

On Sat, Apr 7, 2018, 4:33 PM Dan Foreman-Mackey <notifications@github.com>
wrote:

[2018-04-08 00:29] dfm commented on #33
But that doesn't help *compile* time ;-)

On Sat, Apr 7, 2018 at 8:05 PM Rodrigo Luger <notifications@github.com>
wrote:

--
Dan Foreman-Mackey
Associate Research Scientist
Flatiron Institute
http://dfm.io

[2018-04-08 00:34] rodluger commented on #33
True... Yeah, I could definitely store ksq as a local variable in the
function -- good point.

On Sat, Apr 7, 2018, 5:29 PM Dan Foreman-Mackey <notifications@github.com>
wrote:

[2018-04-08 21:07] rodluger commented on #22
Here's what I decided to do: I grid up the unit sphere with 4 times as many points as the [maximum number of extrema of the map](http://adsabs.harvard.edu/abs/1992SvA....36..220K) to ensure good sampling of the map and find the (coarse) global minimum. Then I call `scipy.optimize` to do a gradient descent and find the true minimum. This seems to work well based on limited testing, but I am in fact

[2018-04-08 21:07] #22 closed

[2018-04-10 23:14] #33 closed

[2018-04-12 01:03] ericagol commented on #31
Looking into this.

[2018-04-13 01:01] ericagol commented on #31
I found a transformation in Byrd & Friedman that seems to solve this!  I'll report more tomorrow.

[2018-04-13 04:50] ericagol commented on #31
Equation (117.06) in Byrd & Friedman seems to do the trick.  I'm still noticing some residuals near 1-b=r, though, as well as near b=r, so this may take some more doing.

[2018-04-13 22:15] rodluger opened #34 "Luminosity units don't make sense"
I'm going to ditch the luminosity option in the `Star` object. This way users can just specify the luminosity of the planet relative to that of the star, which will make unit analysis less messy, especially when converting luminosity to flux and factoring in the telescope size and such.

I need to re-think how to compute the total luminosity for a limb-darkened star. I need to treat this case sepa

[2018-04-15 15:32] ericagol commented on #31
It turns out equations 117.06 in Byrd & Friedman have an error - the right hand sides should be negative.  I made a sign error in my computation which precisely cancelled this error.  I should have results soon.

[2018-04-15 15:49] ericagol commented on #31
Here is an equivalent of the above plot, but with the elliptic integral transformed using Byrd & Friedman (117.06), with a correction of the sign error on the right hand side of that equation.  Seems to do the trick!
![second_contact_residual](https://user-images.githubusercontent.com/243664/38780339-bffd8e96-4089-11e8-8d38-863638fa5e91.png)

And here is the Julia code I used to make the plot:
[in

[2018-04-15 15:58] ericagol commented on #31
Hi Rodrigo,

This is a problem near the second & third contacts when the edge of
the occulter is tangent to the edge of the source.

I found a transformation which gets rid of the divergence in Pi(n,m)
using Byrd & Friedman equation 117.06 (the first equation, with a
correction of a sign error on the right hand side).

Essentially, this transforms the k^2=1 to 1-k^2 = 0 which does not
diverge;  th

[2018-04-15 16:02] ericagol commented on #23
Does this issue still need attention?

-Eric

On 4/3/18 10:14 AM, Rodrigo Luger wrote:

[2018-04-21 00:57] ericagol commented on #23
For an occulter radius >> 1, it should be sufficient to approximate the edge of the occultor as being straight.

[2018-04-21 03:32] ericagol opened #35 "Comments on the paper:"
1).  Are the spherical-harmonic angles \phi & \theta (which appears in section 2.1) different from the \phi and \theta which appear later in the paper (\theta is referenced just after equation 16, while \phi is discussed just after equation 24)?  If so, it might be good to use some distinguishing marker to indicate that these are not the same variable.

2).   Are the coordinates defined just after

[2018-04-21 19:35] rodluger commented on #35
Thanks for the comments! I'll push my changes soon:

1. Yes, they're different. Good idea.
2. Good catch. The observer is at $+\infty$ and the coordinate system is in
fact right-handed.
3. Yes. I only ever use $n$ as that specific index, related to $l$ and $m$
via Equation (5).
4. Yes, it's negative. Both $\lambda$ and $\phi$ are measured
counter-clockwise from the $x$ axis.
5. *Yes* and this is a

[2018-04-21 19:44] rodluger commented on #23
For low degree spherical harmonics I think this is true. But as the degree
increases, the flux becomes ever more sensitive to the curvature of the
limb because the length scales on the surface get smaller. We could
certainly suppress the numerical instabilities by doing this, but we would
introduce error due to the approximation for large [image: l]. But it could
certainly help -- I haven't tested

[2018-04-21 19:44] rodluger commented on #31
Awesome, thank you! I will try this out.

On Sun, Apr 15, 2018 at 12:58 PM Eric Agol <notifications@github.com> wrote:

[2018-04-21 20:14] rodluger opened #36 "Higher order limb darkening"
This is easy. Figure out the general expression for the nth order limb darkening coefficient in terms of the spherical harmonic coefficients and allow users to provide an array of mu coefficients when instantiating a Star object.

[2018-04-22 00:46] ericagol commented on #36
As I mentioned, perhaps this should be a separate paper?

[2018-04-22 03:38] ericagol commented on #23
I may have figured out a computational way forward on this (although I haven't fully worked it out).

For M_{0,0} at small k, there is a cancellation between the two terms, causing a k^4 dependence.

I can show where this arises by transforming to:

![untitled](https://user-images.githubusercontent.com/243664/39091175-c10a9670-45a3-11e8-98c6-8cdb17b9cd75.jpg)

where m = k^2.  Since the leading (co

[2018-04-22 12:04] rodluger commented on #23
Awesome, thanks! I am currently Taylor expanding M for large occultors to
10th order, and I think we might be doing the same thing. But I hard code
the expansions as a large table -- your way could help automate this at
arbitrary order. Check out my Mathematica file here:

https://github.com/rodluger/starry/blob/master/tex/notebooks/computeMTaylor.pdf?raw=true

The expansion helps but doesn't fix

[2018-04-23 06:02] ericagol commented on #36
Yes, I've been meaning to write some code to see which of the various expression/expansions gives the best accuracy and/or speed for different values of b & r.  It might also be interesting to include a limb-brightening term given in Schlawin et al.  And, it would be interesting to fit some stellar atmosphere limb-darkening models to see how many coefficients are needed to represent these accurate

[2018-04-23 16:12] rodluger commented on #35
Changes made to the manuscript.

[2018-04-23 16:12] #35 closed

[2018-04-23 17:00] ericagol opened #37 "Equations (D37) & (D38)"
In equation (D37), what conditions hold for p in the second case and q in the third case?

In equation (D38), d_4 simplifies to (3-p)*k^2

[2018-04-23 17:09] rodluger commented on #37
Ah, good catch. Fixed.

On Mon, Apr 23, 2018 at 2:00 PM Eric Agol <notifications@github.com> wrote:

[2018-04-23 17:31] rodluger commented on #37
In (D37), if both p >=4 and q >=4, either of the bottom two expressions can be used. Should I add conditions to make this clearer? I've been treating these piecewise functions as "if" statements, checked in order. As soon as one of them is true, only that expression is evaluated.

[2018-04-23 17:39] rodluger commented on #34
Stellar radius and luminosity are now fixed to unity. I'm going to tackle the normalization issue next.

[2018-04-23 18:03] ericagol commented on #37
I ended up looping over p and then q, so first I used the d3/d4 expression for q=0,2 and then I subsequently used the d1/d2 expression for higher values of q.

[2018-04-23 18:03] #37 closed

[2018-04-23 19:28] ericagol commented on #23
I figured out the series expansion for the M_{p,q} coefficients, so there's
now no need to hard-code the coefficients and compute them to 10th order,
I think.

I've re-expressed the M_{p,q} terms in terms of the function
\varepsilon_3, which has
a leading term proportional to k^4:

\varepsilon_3 &= -m(dE/dm + (1-m)dK/dm)\\
&= m^2\frac{1}{8} \int_0^{\pi/2}
\frac{\sin^2{2\phi}}{(1-m\sin^2{\phi})^{3/

[2018-04-23 20:00] rodluger commented on #23
Fantastic, thanks! I'll look into this tomorrow.

[2018-04-23 21:44] ericagol opened #38 "Rossiter-McLaughlin effect?"
Does STARRY give a means of computing the Rossiter-McLaughlin effect?

The Doppler-shifted surface brightness could be decomposed as spherical harmonics.

[2018-04-23 22:01] rodluger commented on #38
Wow, this is a great idea. Shouldn't we be able to model the Doppler shift
exactly with just the l=1 harmonics?

On Mon, Apr 23, 2018, 6:44 PM Eric Agol <notifications@github.com> wrote:

[2018-04-23 22:02] rodluger commented on #38
Currently the code doesn't do wavelength dependence but this is a somewhat
trivial addition. I was saving it for v2 -- we already have a lot to work
on for that, so this could be an awesome topic to cover in detail in the
next paper (#3 at this rate!)

On Mon, Apr 23, 2018, 7:01 PM Rodrigo Luger <rodluger@gmail.com> wrote:

[2018-04-24 20:49] rodluger commented on #23
@ericagol what happened to the double factorial on this line:
[code]
of ```function eps3_series``` in your code?

[2018-04-24 21:07] rodluger commented on #23
Gotcha. Had to look up the double factorial!

On Tue, Apr 24, 2018 at 6:04 PM Eric Agol <notifications@github.com> wrote:

[2018-04-24 21:08] rodluger commented on #23
I tabulated all the half-factorials, so I'm computing it as
![image](https://user-images.githubusercontent.com/9323819/39214321-7349be4a-47ea-11e8-8d38-e898b01fe228.png)
I'm going to do some stability tests with these new expressions.

[2018-04-24 23:42] ericagol opened #39 "s_n for m=-1; and possibly for other Y_lm values."
I just noticed that s_n = 0 whenever m=-1.

This makes sense since in this case there is odd symmetry about the x-axis,
so the flux below the axis (y < 0) cancels with the flux of opposite sign
above the axis (y > 0).

We can either skip computing these, or perhaps use this as a check that the code is working fine?

This symmetry can also be used to check that m=1 is being computed correctly if
th

[2018-04-25 12:15] rodluger commented on #23
@ericagol I got this to work, and it does indeed help with the stability. But it's not quite as good as my earlier brute-force 10th order Taylor expansion. Here are the diagnostic plots:

**Original version, no Taylor expansion:**
![image](https://user-images.githubusercontent.com/9323819/39244461-14aa6cea-4867-11e8-8b03-b6a5f37e3119.png)

**My 10th order expansion:**
![image](https://user-images.

[2018-04-25 12:40] rodluger commented on #39
Nice find! It's somewhat more complicated than that, but you're right, several of the terms are zero. Because of the sleight-of-hand involved with the exterior derivatives, the n^th term in the Green's basis (which integrates to the n^th term of **s**) is not the same as the n^th spherical harmonic. What we need to find are terms in **g** that integrate to zero when the occultor is along the y axi

[2018-04-25 12:40] #39 closed

[2018-04-25 20:19] ericagol opened #40 "b = 1-r error in s_2"
The computation of s_2 appears to have an outlier for r=0.1, b=0.9.

[2018-04-25 20:48] ericagol opened #41 "Problem computing M_{p,q} and J_{u,v} when b=0 (and solution)."
For b=0, k^2 = \infty, so M_{p,q} and J_{u,v} become problematic to compute.

However, for b=0,

J_{u,v} = \int_{\pi-\phi}^{2\pi+\phi} c_\varphi^u s_\varphi^v (1-r^2)^{3/2} d\varphi

= (1-r^2)^{3/2} I_{u,v}

[2018-04-25 21:30] rodluger commented on #40
Yes, this is already an [open issue](https://github.com/rodluger/starry/issues/31). You gave me an alternative expression to evaluate this, but I haven't implemented it yet. Will do shortly.

[2018-04-25 21:30] #40 closed

[2018-04-25 21:37] rodluger commented on #27
I've made significant progress on this. Turns out the average of two angles is not that simple to compute, and the modulo function is defined differently in C++ and Python when the first argument is negative.

The numerical integrator now converges as the tolerance is decreased, but some issues remain. For instance:
[code]
![image](https://user-images.githubusercontent.com/9323819/39274208-9be4396

[2018-04-25 21:39] rodluger commented on #41
I found this, too :) It's already implemented in starry:
![image](https://user-images.githubusercontent.com/9323819/39274304-e7c58600-48b7-11e8-837f-1b8bb724db78.png)

[2018-04-25 21:39] #41 closed

[2018-04-25 22:26] ericagol commented on #27
How about you just use a cartesian grid on the star?

[2018-04-25 22:28] ericagol commented on #7
I've checked most of the equations in D.2

[2018-04-25 22:38] rodluger commented on #27
I fixed it!
![image](https://user-images.githubusercontent.com/9323819/39276621-47c14e4c-48c0-11e8-856f-71a20b305829.png)

[2018-04-25 22:40] rodluger commented on #27
The adaptive mesh is a bit faster and a bit more accurate, so I'm going to go with it. It's behaving well in all the cases I've tested so far, so I'm closing this issue.

[2018-04-25 22:40] #27 closed

[2018-04-25 22:44] rodluger commented on #10
@jlustigy @dflemin3 Can you guys give this a shot? It *would* be nice to compare to spiderman.

[2018-04-25 23:08] rodluger commented on #26
@dfm How should I handle warnings? Is there a way to throw a python RuntimeWarning?

[2018-04-25 23:31] rodluger commented on #26
I'm mostly happy with the error handling, so I'm gonna close this.

[2018-04-25 23:31] #26 closed

[2018-04-26 00:59] ericagol commented on #2
I got autodiff working on the s_n(r,b) components.    I just finished coding up the s_n function in Julia, and I implemented autodiff using the ForwardDiff package.

I still haven't gotten the transformation and rotation matrices computed, but these should be straightforward.

[2018-04-26 10:38] rodluger commented on #2
@ericagol Can you create a julia folder in the top level of the repository and place your code in there?

[2018-04-26 15:34] rodluger commented on #34
Case in point:
[code]
![image](https://user-images.githubusercontent.com/9323819/39315895-2cdec076-494e-11e8-865a-a267909d7e67.png)

[2018-04-26 17:34] rodluger commented on #34
OK, I think I understand what I'm doing wrong. Currently my `Y_{0,0}` coefficient depends on the limb darkening coefficients:
![image](https://user-images.githubusercontent.com/9323819/39321721-33b2ac9a-495e-11e8-8324-d5c9e5298f3a.png)
because that's what I get when I express
![image](https://user-images.githubusercontent.com/9323819/39321793-57b4ec8e-495e-11e8-87f1-c8fdce7a7f10.png)
in spherical

[2018-04-26 17:39] ericagol commented on #2
Yes.  I just created a folder called julia/ at the top level of the repo where I placed this code and a preliminary README.md.

[2018-04-26 17:41] rodluger commented on #2
Great, thanks!

[2018-04-26 17:45] ericagol commented on #34
Right - there is some sleight-of-hand here, and so it depends on what quantity you are interested in.

If you want the apparent luminosity, then you should integrate the observed flux and multiply by 4\pi d^2.  If you want the total luminosity (i.e. sum of fluxes of observers at same distance distributed over 4\pi steradians), then it's only the monopole that counts.

[2018-04-26 18:40] rodluger opened #44 "Rename `u` to `axis`"
I'm reserving `u` to refer to the limb darkening coefficient vector, so the rotation axis will now be called `axis`. I'm going to update all code, scripts, and notebooks, as well as the texfile to reflect this.

[2018-04-26 19:08] rodluger commented on #44
This [commit](https://github.com/rodluger/starry/commit/50368cf3e0cae093a8cb496e5208c45931e90c74) fixes the issue.

[2018-04-26 19:08] #44 closed

[2018-04-26 19:41] rodluger commented on #34
Ok, let me ask you a specific question then: say I have two solar-type stars with the same total luminosity, but one is strongly limb-darkened and the other isn't. When I integrate the specific intensity of each one over their visible disk, should I get the same value for both? Or should the limb-darkened one be dimmer?

This will help me decide how to normalize the units...

[2018-04-26 21:29] rodluger opened #45 "NaNs when b = r > 1 for s2 term"
[code]

[2018-04-28 05:03] ericagol commented on #34
If both stars are isotropic, then by definition they have the same flux for *every* observer.  So, when you integrate the specific intensity over the visible disk (and over wavelength if the bolometric luminosities are equal;  otherwise you require the specific luminosities to be equal), then the fluxes must match.

[2018-04-28 13:39] rodluger commented on #45
It's due to [this line](https://github.com/rodluger/starry/blob/e67a4b88bb501010b7b53f1587c163546303f34e/starry/taylor.h#L32) in the computation of the Pi elliptic integral for the Taylor-expanded version of `s2`. I'm going to try to Taylor expand this -- the elliptic integral is zero in the limit, but the numerical computation blows up.

[2018-04-28 14:35] rodluger commented on #45
I found a good expansion. It's almost certainly overkill -- we can cut several of the higher order terms for speed.
![image](https://user-images.githubusercontent.com/9323819/39397594-3132e04a-4ad8-11e8-81bb-c55aa40fd224.png)

[2018-04-28 14:47] rodluger commented on #45
Well that didn't work! [This line](https://github.com/rodluger/starry/blob/e67a4b88bb501010b7b53f1587c163546303f34e/starry/taylor.h#L39) also needs to be fixed. Shouldn't be too hard...

[2018-04-28 15:16] rodluger commented on #45
Fixed! This expression is extremely stable and diverges only when |b - r| is on the order of 1e-12. So a linear expansion did the trick!

[2018-04-28 15:16] #45 closed

[2018-04-28 16:48] ericagol commented on #45
Okay, great!  There may also be a transformation that works as well.

[2018-04-28 19:43] rodluger opened #46 "Yet another instability in s2"
This one happens when `b ~ r` and `k^2 < 1` on [this line](https://github.com/rodluger/starry/blob/e67a4b88bb501010b7b53f1587c163546303f34e/starry/solver.h#L367) because the elliptic integral is discontinuous at `b = r`. I suspect the numerical integration scheme is choking near that value.

When `b = r`, I can evaluate `vPI` in the limit:
![image](https://user-images.githubusercontent.com/9323819

[2018-04-30 11:58] rodluger commented on #31
This worked great. Currently I'm using this re-parametrization when `1 - eps < b + r < 1 + eps` for `eps = 1e-5`, so it will not in general be an issue for speed.

[2018-04-30 11:58] #31 closed

[2018-04-30 12:24] rodluger opened #47 "Instabilities!"
@ericagol: I created a [branch](https://github.com/rodluger/starry/tree/master-stability) to keep track of the instabilities in the code. Whenever anyone commits changes, add `[stability]` somewhere to the commit message to automatically generate the diagnostic plots on **travis**. These will be force-pushed to the `master-stability` branch (or `whatever-stability`, where `whatever` is the current

[2018-04-30 12:33] rodluger commented on #23
We clearly have [some work to do](https://github.com/rodluger/starry/blob/master-stability/Y_4%2C0.pdf) still.

[2018-04-30 13:03] rodluger commented on #34
Ha, turns out I had done this before! From Equation (67) in our PPO paper, all we need to do is multiply the flux by
![image](https://user-images.githubusercontent.com/9323819/39428244-12073a64-4c5d-11e8-984a-f5f55d3bcf3a.png)
to ensure the integral over the visible disk is unity.

[2018-04-30 15:58] rodluger commented on #34
Actually the above expression normalizes the flux to `pi`. Anyways, this issue is now resolved. The stellar flux is now always unity.

[code]

![image](https://user-images.githubusercontent.com/9323819/39437047-1b1b3862-4c76-11e8-8e35-ea8b090b010f.png)

[2018-04-30 15:58] #34 closed

[2018-04-30 17:12] ericagol commented on #34
This is probably similar to the \Omega parameter in Mandel & Agol for
the non-linear law.

[2018-04-30 17:18] ericagol commented on #47
Nice!  We should also examine the regions near b = 1-r,  b=0, r=0, and b=r=0.

[2018-04-30 17:31] ericagol commented on #47
What is the difference between \Delta and \epsilon?

[2018-04-30 17:45] rodluger commented on #47
Ah, Delta is 0.1 and epsilon is 1e-6

On Mon, Apr 30, 2018, 2:31 PM Eric Agol <notifications@github.com> wrote:

[2018-05-01 00:07] rodluger opened #48 "Gradient of elliptic Pi"
@dfm Can you help me wrap my head around the gradient of the elliptic integral Pi on [this line](https://github.com/rodluger/starry/blob/72a8bea59d9cd8461c1626bd9400b73d832b1031/starry/ellip.h#L118)? The integral is a function of two parameters, so shouldn't there be two derivatives? This function currently only returns one -- which appears to be the sum of each of the derivatives. What's going on

[2018-05-01 02:13] dfm commented on #48
`n.derivatives()` and and `ksq.derivatives()` are both *vectors* and the gradient of Pi will also be a vector. Try working through what happens if `n.derivatives() == (1, 0)` and `ksq.derivatives() == (0, 1)`...

[2018-05-01 11:53] rodluger commented on #48
Got it. Thanks!

[2018-05-01 11:53] #48 closed

[2018-05-01 18:11] dflemin3 commented on #10
I'll start hacking on this this afternoon.  Any particular test case you had in mind?

[2018-05-01 18:43] rodluger commented on #10
No, but I'm mostly interested in a speed comparison and an accuracy
comparison for low degree (l = 1, 2, and 3) maps. See what you can do! I
kept getting NaNs in spiderman last time I tried to use their spherical
harmonic utilities...

On Tue, May 1, 2018 at 3:11 PM David Fleming <notifications@github.com>
wrote:

[2018-05-01 18:44] rodluger commented on #2
@dfm Autodiff is working **beautifully**! Thanks for the help.

[2018-05-01 18:56] rodluger commented on #2
Currently computing gradients of the flux in [this test file](https://github.com/rodluger/starry/blob/e8156bec85a366c7dfc7bc12396bac5ad858aab1/starry/test_autodiff.cpp#L103). I'm going to add a gradient option to the pybind interface so we can start using this!

[2018-05-01 18:59] dfm commented on #10
We might also want to comment on the relationship between starry and something like exocartogapher: https://arxiv.org/abs/1802.06805

[2018-05-01 22:30] rodluger commented on #10
@dflemin3 if you send me a mwe I can email Laura and ask if there's a workaround.

[2018-05-01 22:53] dflemin3 commented on #10
The assert error turned out to be a bit of a strange one.  Their brightness maps docs are incomplete and I was able to correct it after poking around their source code.  Turns out that, for whatever reason, the `quit()` function they used in their code was not recognized in my Jupyter notebook (Jupyter lab, python 3.6).  I cloned their repo and converted all `quit()` instances to the sort-of-equiv

[2018-05-01 22:57] dflemin3 commented on #10
FYI tomlouden/SPIDERMAN/#13

[2018-05-01 23:02] dflemin3 commented on #10
Note that the pip spiderman version is quite different than their bleeding-edge github version that I'm using, so that could explain the NaNs you got, @rodluger

[2018-05-02 00:01] rodluger commented on #2
@dfm How do I tell Eigen to not compute derivatives for a given variable? Say I have the function
[code]
and I want to compute derivatives w/ respect to `x1` and `x2`, but not `x3`. Because of the way I've templated this, all three must have the same type, so if `x1` and `x2` are `AutoDiffScalars`, so too must `x3`. A cryptic comment in [this example](http://eigen.tuxfamily.org/bz_attachmentbase/a

[2018-05-02 00:48] rodluger commented on #2
@dfm OK, how insane is this? It compiles, runs, and does everything I want *starry* to do. The user provides a vector of strings called `gradient` with the names of the variables they want to differentiate, and the code declares them by setting the derivative number either within range of the number of derivatives (for Eigen to differentiate it) or outside of that range (which Eigen seems to treat

[2018-05-02 12:26] rodluger commented on #2
Come to think of it, this smells like a memory leak to me... It's probably computing the other derivatives, but storing them in the segfault-prone limbo. Ther a got to be a better way to do this.

[2018-05-02 13:17] rodluger commented on #2
@dfm I'm pretty sure there's a bug in Eigen: it's related to the reason we had to typecast many of the scalars in function calls to **step()** and the elliptic integrals to get the code to compile with autodiff. Check out [this open Eigen issue](http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1437) and the [corresponding code](http://eigen.tuxfamily.org/bz_attachmentbase/attachment.cgi?id=790).  I'm

[2018-05-02 13:33] rodluger commented on #2
FYI: http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1281#c1

[2018-05-02 14:06] dfm commented on #2
You definitely won't need to manually cast *everything* to `T`. The problem appears when you have inline operations on AutoDiffScalars. It is slightly annoying, but I think you'll be able to fix it pretty fast.

[2018-05-02 16:31] rodluger commented on #2
@dfm Templates to the rescue! I think I found the ideal solution, which requires no hacky casting. The issue with Eigen is that there's a bug somewhere for dynamically-allocated derivative vectors, so the workaround is to declare all the types you might need ahead of time:
[code]
Then, template the function that instantiates a GradX type:
[code]
and the function that does the actual allocating/com

[2018-05-03 17:10] rodluger commented on #2
@dfm Dude:
![image](https://user-images.githubusercontent.com/9323819/39591914-183932a2-4eba-11e8-8c49-4df1c42d29d1.png)

[2018-05-04 00:32] ericagol commented on #2
Shouldn’t we be saying “Doctor” rather than “Dude”?

That looks great!

Eric Agol
Astronomy Professor
University of Washington

[2018-05-04 16:16] rodluger commented on #2
@dfm This is how I'm currently structuring the code:
[code]

The modules `starry` and `starry.grad` are compiled from the same chunk of code, but with a healthy sprinkling of `#ifdef STARRY_AUTODIFF` to handle `AutoDiffScalar`-specific implementation stuff. They therefore have all the same classes, methods, properties, and docstrings, but their outputs are of course different. To get this to work,

[2018-05-05 02:17] rodluger opened #49 "Gradients are NaN when b = 0"
[code]

When `b = 0`, `ksq` is infinity and its derivatives are not defined. I tried overriding the computation of `ksq` for this case but wasn't able to fix the issue. This is an edge case, so not a huge deal, but would be nice to fix. We could easily bypass this by finding analytic closed-form expressions for the `s` vector when `b = 0`. Shouldn't be hard.

[2018-05-07 00:05] rodluger commented on #2
Quick update on this. I'm slowly getting things to work with dynamically-sized derivative vectors, which is the ideal way to do this. The most important thing I've learned is that casting to type `T` is not enough, since type `T` has an `Eigen::Dynamic` vector length. I need to actually force the derivative vector of all intermediate variables -- and all function outputs -- to have the correct len

[2018-05-07 00:45] dfm commented on #2
That does sound tedious! Let me know if there's anything that I can do to help out.

[2018-05-07 03:33] rodluger commented on #2
Got the flux calculation to work all the way through! Now the user can dynamically choose which and how many derivatives to compute. Gonna take a while for me to clean the code up and push to the master branch, but I think it's downhill from here!

[2018-05-07 03:34] rodluger commented on #49
Also getting NaNs for the gradient when `b = 1 - r`. There are probably a lot of these edge cases; I need to map them thoroughly.

[2018-05-07 16:12] ericagol commented on #49
That is the one point where the gradient is in fact undefined!
I think this is due to the uniform disk terms since there is a step in
surface brightness at the limb.   The  other limb-darkening
terms \propto \mu^n approach zero surface brightness gradually
at the limb, so I think their derivatives should be well defined
and equal to zero.  Although, I'm primarily thinking of the m=0
cases;  the m

[2018-05-09 04:11] rodluger commented on #2
Quick update on this: I'm switching back to compile-time defined derivative vector sizes. `AutoDiffScalar<VectorXd>` is riddled with issues *and* it's **20-30 times slower** than the same calculation with fixed-size derivative vectors. It's actually more efficient to compute **all** derivatives and let the user choose which ones to output than to selectively compute only a few derivatives.

[2018-05-10 16:29] rodluger commented on #2
@dfm @ericagol Just need to write it up!
![image](https://user-images.githubusercontent.com/9323819/39881068-9164bbf4-5434-11e8-978a-ad7553831474.png)

[2018-05-10 21:57] rodluger commented on #2
Closing this issue. There are things that can still be optimized, but I'm happy!

[2018-05-10 21:57] #2 closed

[2018-05-10 22:38] jlustigy commented on #6
The new "notebooks" branch uses nbsphinx to merge the tutorial jupyter notebooks into the docs

[2018-05-10 22:58] rodluger commented on #6
Issue a PR?

[2018-05-10 23:03] jlustigy commented on #6
Done.

On Thu, May 10, 2018 at 3:58 PM, Rodrigo Luger <notifications@github.com>
wrote:

--
Jacob Lustig-Yaeger
Astronomy & Astrobiology Graduate Student
University of Washington
jlustigy.github.io

[2018-05-10 23:31] jlustigy commented on #6
Ahh, that makes sense. Whoops!

On Thu, May 10, 2018 at 4:24 PM, Rodrigo Luger <notifications@github.com>
wrote:

--
Jacob Lustig-Yaeger
Astronomy & Astrobiology Graduate Student
University of Washington
jlustigy.github.io

[2018-05-10 23:36] rodluger commented on #6
[Lol](https://rodluger.github.io/starry/tutorials/mcmc.html)

[2018-05-10 23:39] rodluger commented on #6
A couple [issues](https://travis-ci.org/rodluger/starry/jobs/377513336#L1279) with the build. I'm gonna let you figure this out... :)

[2018-05-11 01:06] rodluger commented on #6
Fixed: https://rodluger.github.io/starry/tutorials/tutorial.html

[2018-05-11 01:08] ericagol commented on #46
I've figured out a fix for this by expanding the integral near r=b+\epsilon
to second order in \epsilon.

The attached Julia code tests this out for a few values of epsilon, and
it seems to work well, although the errors seem to grow near b=r=0.5.
Perhaps a different expansion is needed in that vicinity.

I'll write up a description of the derivation.

-Eric

# Checks s2 for errors in the limit of

[2018-05-11 01:14] rodluger commented on #6
@jlustigy Is there an automatic way to include a link to the actual notebooks in the notebook html page?

[2018-05-11 01:16] jlustigy commented on #6
Looks like I missed your travis auto doc building. That's really neat. Nice
fix!

On Thu, May 10, 2018 at 6:06 PM, Rodrigo Luger <notifications@github.com>
wrote:

--
Jacob Lustig-Yaeger
Astronomy & Astrobiology Graduate Student
University of Washington
jlustigy.github.io

[2018-05-11 01:26] rodluger commented on #6
Boo. What about syntax highlighting?

On Thu, May 10, 2018 at 6:24 PM Jacob Lustig-Yaeger <
notifications@github.com> wrote:

[2018-05-11 01:36] jlustigy commented on #6
I just noticed that too. It might have something to do with compiling on a
remote computer. Note how Dave's notebook
<https://dflemin3.github.io/approxposterior/notebooks/Scaling_Accuracy.html>
has
syntax highlighting, but your's
<https://rodluger.github.io/starry/tutorials/mcmc.html> and mine
<http://coronagraph.readthedocs.io/en/latest/notebooks/eclipse_example.html>
don't. Dave compiles docs on

[2018-05-11 01:57] jlustigy commented on #6
I fixed it in my coronagraph model by adding ipython
<https://github.com/jlustigy/coronagraph/commit/eb0fd453ff83090622a8d485a8d52bdb92e86371>
to the rtd-environment.yml file. What is the equivalent for travis docs?

On Thu, May 10, 2018 at 6:33 PM, Jacob Lustig-Yaeger <jlustigy@uw.edu>
wrote:

--
Jacob Lustig-Yaeger
Astronomy & Astrobiology Graduate Student
University of Washington
jlustigy.githu

[2018-05-11 05:33] rodluger commented on #6
I am now pip installing it in .ci/travis.sh. Worked!

[2018-05-13 16:17] rodluger commented on #46
This worked great. You're right that the relative error goes up near r = 0.5 but it's still under 10ppm. I'm closing this issue for now and will just add a note in the code.

[2018-05-14 22:30] #47 closed

[2018-05-15 01:49] rodluger commented on #23
After a lot of hacking on this, I'm mostly happy with the workarounds Eric and I came up with. I came up with better stability plots that explore the error on the `s` terms in `b-r-l` space. They run pretty quickly, so they're always available [here](https://github.com/rodluger/starry/blob/master-pdf/tex). Basically, our *relative* errors are sub-ppm everywhere for `lmax <= 8` and for `1e-5 <= r <

[2018-05-15 01:55] #6 closed

[2018-05-15 01:55] #7 closed

[2018-05-15 15:18] ericagol commented on #23
Can you also make some plots with the derivatives as well?

Also, if you would like to transition from fractional to absolute errors, you can use asinh errors (i.e. [luptitudes](http://classic.sdss.org/dr5/algorithms/photometry.html), where the transition (f_0) occurs for depth of transit for a uniform source.

[2018-05-15 15:58] rodluger commented on #23
@ericagol
1. The transformation from `r --> 1`, `b --> b / r`, and `1 --> 1 / r` didn't seem to make any difference as far as I could tell. I didn't test this exhaustively, though.
2. I'll work on derivative plots.
3. Interesting. I'll take a look at that!

[2018-05-15 15:59] rodluger commented on #23
What actually helped was switching between the original expressions and the Taylor versions depending on the values of `r`, `l`, **and** `b`. I sat down yesterday and mapped out the errors in this 3-parameter space and found much better transitions between the expressions. In principle I could use the derivative information as well.

[2018-05-15 22:20] rodluger opened #54 "Flux integration"
I still need to code up an exposure time option to numerically integrate the light curve over the exposure window.

[2018-05-15 22:25] ericagol commented on #46
I just need to write this up - probably won't get to this today.

[2018-05-15 22:26] dfm commented on #54
My method looks like this: https://github.com/dfm/transit/blob/master/transit/include/integrator.h#L24-L52

It a recursive method where you look at the difference between the linear prediction for the midpoint and the actual value and recursively refine until the difference is small.

I use autodiff on this and it seems to work fine!

[2018-05-15 22:27] rodluger commented on #46
Gotcha. No worries.

On Tue, May 15, 2018 at 3:25 PM Eric Agol <notifications@github.com> wrote:

[2018-05-16 18:54] dfm commented on #54
Yeah - the actual defaults I use are `tol=1e-8, maxdepth=4` but you'll want to play around with that.

[2018-05-16 22:21] ericagol opened #55 "r >= 1 and b=0 might cause an error in this line"
If r >=1 and b=0, the source is completely occulted, so perhaps s2 isn't called.  But, s2 is called with b=0 and r >=1, this line may cause a problem:

https://github.com/rodluger/starry/blob/9476c4c25f23c3798d260d8b77c7f911b2cf8fb1/starry/lld.h#L189

[2018-05-16 22:34] rodluger commented on #55
That line never runs because (as you suspected) `s2` is only called when there's an occultation.

[2018-05-16 22:37] ericagol commented on #55
It might be worth returning zero immediately if b <= 1+r just in case someone tries to call it in the fully occulted case.

[2018-05-16 22:37] #55 closed

[2018-05-17 01:22] rodluger opened #56 "Gradients broken when integrating flux over exposure time"
I'm probably doing something dumb. These gradients don't look right (and there are small instabilities popping up in places):
![image](https://user-images.githubusercontent.com/9323819/40151625-11262f48-5936-11e8-84c4-71d813d69ce4.png)

[2018-05-17 01:33] ericagol commented on #56
I think the gradients look fine - do they agree with the finite difference derivatives computed at high-precision?

It's strange that the instabilities show up away from the contact points.

Can you share the values of b, r, u1 & u2 that you used?  And also the values of ARy as a function of time?

[2018-05-17 01:42] rodluger commented on #56
The gradients are shifted incorrectly to the left; look at the time derivative (first line) -- it's zero during most of egress, which is wrong. When the exposure time is zero, I get the correct result. I generated this plot using [this](https://github.com/rodluger/starry/blob/832585794b50f0864c6ab674b20366a5caab337d/tex/figures/autodiff.py) script. The planet/star params are on lines 18-24.

[2018-05-17 01:46] rodluger commented on #56
@dfm might have some suggestions. Relevant lines in the code are [here](https://github.com/rodluger/starry/blob/b912ddcf0c222746f8718d303e88e36a6662f970/starry/orbital.h#L455-L479), [here](https://github.com/rodluger/starry/blob/b912ddcf0c222746f8718d303e88e36a6662f970/starry/orbital.h#L481-L520), and [here](https://github.com/rodluger/starry/blob/b912ddcf0c222746f8718d303e88e36a6662f970/starry/or

[2018-05-17 01:50] rodluger commented on #56
Never mind, I figured it out -- I wasn't properly summing the fluxes of the individual bodies at each time step. Don't bother trying to reproduce this issue -- it's specific to how I coded things up. Will resolve it shortly.

[2018-05-17 01:59] #56 closed

[2018-05-17 02:01] rodluger opened #57 "Re-think how to integrate flux over exposure time"
Integrated flux calculation is currently broken for individual bodies and when using `starry.grad`. This is a straightforward fix. I just need to sit down and re-code some of the stuff in `orbital.h`.

[2018-05-17 17:13] rodluger commented on #57
Fixed.

[2018-05-17 17:13] #57 closed

[2018-05-17 17:55] rodluger commented on #8
@ericagol @jlustigy When you have a chance, please check the introduction for any important missing references.

[2018-05-17 19:55] rodluger opened #58 "Allow user to provide an input map as an array"
Currently the user can provide an image or a healpix map, but it would be useful to allow the user to simply input a 2d numpy array of lat/lon coordinates. This will be trivial to implement.

[2018-05-19 04:35] ericagol commented on #23
I tried using the generalized elliptic integrals from Bulirsch (1969) to compete the M_{p,q} integrals, but the results are very unstable.

[2018-05-19 22:53] rodluger opened #60 "Mathematica scripts to compute matrices A1, A2, and A are wrong"
The example matrices in the Appendix do not match up with what the C++ code outputs. The C++ code is correct and has been thoroughly vetted, so I need to go through the Mathematica scripts and find the bug!

[2018-05-20 00:17] ericagol opened #61 "Mapping of stellar pulsations in eclipsing binaries"
As with many exoplanet ideas, there is cross-fertilization with stellar astrophysics.  The starry formalism could perhaps be used in mapping pulsations of stars in eclipsing binaries during eclipses:

http://adsabs.harvard.edu/abs/1974ApJ...190..637N
http://cds.cern.ch/record/1010338/files/0701459.pdf
http://iopscience.iop.org/article/10.1086/491666
https://academic.oup.com/mnras/article/416/3/160

[2018-05-20 05:34] ericagol commented on #8
I've added some!

[2018-05-20 22:09] rodluger commented on #60
I was doing A = A1.A2 instead of A2.A1 in the Mathematica script. Fixed!

[2018-05-20 22:09] #60 closed

[2018-05-20 22:12] rodluger opened #63 "Application to Galilean moons"
Probably in the next paper...
https://www.sciencedirect.com/science/article/pii/0019103576901858?via%3Dihub

[2018-05-21 00:33] rodluger commented on #36
@ericagol
Arbitrary order limb darkening is now implemented in starry! Here's a concocted example of fitting a 10th order limb darkening model to an 11-point stellar intensity grid to get an "exact" limb darkening model.
![image](https://user-images.githubusercontent.com/9323819/40285652-a23b3f3a-5c53-11e8-913a-39a11e22183e.png)
I'll write up all the math in the limb darkening paper this week.

[2018-05-21 04:28] ericagol commented on #36
Excellent!  Do the higher order coefficients require a Taylor expansion in this case?

[2018-05-21 16:13] rodluger commented on #36
Only when $b$ is very close to zero -- that's really the only unstable region for small occultors.

[2018-05-21 16:13] #36 closed

[2018-05-21 16:14] rodluger commented on #5
The paper is long enough as it is. We can revisit this if the reviewer asks for an application, but otherwise I'm deferring this to a future paper.

[2018-05-21 16:14] rodluger commented on #10
@dflemin3 How's this coming?

[2018-05-21 16:23] dflemin3 commented on #10
The speedtest aspect is done and on my fork.  I just need to rerun it with the same matplotlibrc param file as the rest of the figures for cohesion.  I'm still spinning my wheels with the accuracy element as for SPIDERMAN, it seems that there are two issues: 1) The phase curve depends on the orbital period because from a little experimentation, it seems that SPIDERMAN assumes tidal locking, i.e. t

[2018-05-21 16:34] rodluger commented on #10
OK cool. Do you have time today to hack on this?

[2018-05-21 16:42] ericagol commented on #36
That could possibly be fixed with using the generalized complete elliptic integrals.

[2018-05-21 16:51] rodluger commented on #8
I'm happy with the intro!

[2018-05-21 16:51] #8 closed

[2018-05-21 17:54] rodluger commented on #58
Done.

[2018-05-21 17:54] #58 closed

[2018-05-21 17:55] #46 closed

[2018-05-21 18:14] rodluger opened #64 "Stability tests for gradients"
Code this up!

[2018-05-21 21:25] rodluger opened #65 "Maps on inclined orbits"
This isn't a bug, just a poor design decision that should be re-thought.

Currently, when the user instantiates a planet and specifies its map, that map is assumed to be what the observer would see when the planet is closest to them, i.e., at a mean longitude of 90 degrees, corresponding to mid-transit.

The problem with this is that it becomes confusing to specify a map of a planet that doesn't t

[2018-05-21 23:57] rodluger commented on #65
Specifically, I think this behavior is confusing:
[code]
![image](https://user-images.githubusercontent.com/9323819/40335343-ffae30f4-5d17-11e8-84d1-f559dd421e79.png)
They all have exactly the same phase curve.

[2018-05-22 01:07] rodluger commented on #65
I think this is better behavior when the user specifies a simple dipole map and different inclinations:
![image](https://user-images.githubusercontent.com/9323819/40337001-cd2b8e60-5d21-11e8-82cb-a1727b9f58a0.png)

[2018-05-22 01:12] rodluger commented on #65
@ericagol @deitrr The above plot is for longitude of ascending node `Omega = 0`. What is the expected behavior if `Omega = 90`? In my mind, the phase curves don't change at all, and the images just rotate counter-clockwise on the page. Is this correct?

[2018-05-22 01:14] rodluger commented on #36
True! I'll play around with that.

On Mon, May 21, 2018 at 9:42 AM Eric Agol <notifications@github.com> wrote:

[2018-05-22 15:03] rodluger opened #66 "Add option to account for light travel time"
Spiderman does it -- it shouldn't be too hard to implement.
https://github.com/tomlouden/SPIDERMAN/blob/7d328dc93889c1229fdaa3076b98493a4ef5cd09/c_src/web.c#L123-L137

[2018-05-22 15:52] rodluger commented on #66
We need to be careful if we're going to also model planet-planey occultations with this -- the timing offset of the events could get tricky?

[2018-05-22 17:44] ericagol commented on #65
Yes, assuming that your reference plane is the sky plane (as I think it ought to be).

[2018-05-22 17:45] rodluger opened #67 "Test code on eccentric, inclined orbits"
... and compare to spiderman and batman.

[2018-05-22 18:26] rodluger opened #68 "C++ API documentation"
We should use doxygen to thoroughly document the C++ API. Also, `starry` currently isn't meant to be called from within C++, but it would be nice to provide an interface for that.

Things to watch out for:
- I/O unit conversions happen in the pybind interface file. We should think carefully about how to handle those for users calling `starry` from within C++

[2018-05-22 19:28] rodluger commented on #65
Awesome -- I figured out the geometry. Here's `Omega=45`:
![image](https://user-images.githubusercontent.com/9323819/40385479-874915d0-5dbb-11e8-9f31-e35718524016.png)
Going to implement this in C++ now.

[2018-05-23 15:50] rodluger commented on #66
@ericagol I think I got this working. This [script](https://github.com/rodluger/starry/blob/d279aba5e2249db19f682067a466c6d15a4b9676/misc/delay.py) plots the light curve for a hot Jupiter with a dipole map for different semi-major axes at a fixed period of 1 day (the values are greatly exaggerated so we can see the shift by eye):
![image](https://user-images.githubusercontent.com/9323819/40435312-

[2018-05-23 17:05] ericagol commented on #66
If orbit is circular and edge-on, delay should be 2a/c.

I find offsets of:
0, 0.0214, -0.08, -0.6
of the data in that table from 2a/c.

Is there some inclination?
![time_delay](https://user-images.githubusercontent.com/243664/40439755-c85af218-5e70-11e8-9c7d-c332faa96258.png)

[2018-05-23 17:37] rodluger commented on #66
@ericagol Hmm. No inclination, zero eccentricity. I see the discrepancy as well when I compute `2 * a / c`. Here's what I'm doing:

- Compute the z coordinate of the point closest to the observer, `z0`. In our case, with the z axis pointed at the observer, `z0 = a`. This is my reference point for computing the retarded position of the planet.
- Compute the time delay, `dt = (z0 - z) / c`, where `z

[2018-05-23 18:47] ericagol commented on #66
Does the planet have mass?

If so, that modified the formula since the time offset is relative to the barycenter.

If the planet were as massive as the star, then there is no time offset.

Eric Agol
Astronomy Professor
University of Washington

[2018-05-23 19:03] ericagol commented on #66
Also the outer planet is moving 4000 km/sec, which is a bit high for this test.

[2018-05-23 19:04] rodluger commented on #66
Agreed -- this is all very unphysical. I definitely assumed v/c << 1 in my derivations. Do you think I have a bug still?

[2018-05-23 20:03] ericagol commented on #66
I'm not sure... the dt = 2*a/c estimate assumes a massless planet, and it ignores the retarded time.  If you turn off the retarded time, do you match the 2a/c delay?

[2018-05-23 21:07] rodluger commented on #66
Well, yes. The time delay at opposition is exactly `dt = 2a/c`. But that's not something I can use directly, as I need to compute what the light curve looks like at time `t` (the time requested by the user), not at time `t + dt`. I think the way to do this correctly would be iterative: figure out where the planet was at `t - dt`, re-compute `dt`, re-compute the position, and so forth, until conver

[2018-05-23 22:42] ericagol commented on #66
Yes, I think it may have to be iterative.  That's good that it agrees at opposition - it could be that your code is giving the correct answer;  I was not correcting for the motion of the planet.

[2018-05-24 00:58] rodluger commented on #66
Here's the equation I think we want to solve:
![image](https://user-images.githubusercontent.com/9323819/40458568-6950a286-5eb1-11e8-964c-55aaf1d62a11.png)
That is, the observed position at time `t + dt` equals the true position at time `t`. We can re-write this in terms of `x'(t)`, which is what we actually care about:
![image](https://user-images.githubusercontent.com/9323819/40458602-ac757910-5

[2018-05-24 15:05] ericagol commented on #23
I computed M_{p,q} coefficients in polynomials in m= k^2 in BigFloat precision (256 bit), and find that all coefficients are zero up to m^(p/2+1)!  So, part of the problem for large l (lowercase L) is that the Taylor series expansion to a fixed order gets less precise.

The nice thing is that these polynomial coefficients only need to be computed once - which can be done at high precision, and con

[2018-05-24 15:15] rodluger commented on #23
That's a good point. I noticed this in my coefficients but didn't think to
take the expansion to higher order for larger p. Do you think this would
help with the error?

On Thu, May 24, 2018, 8:05 AM Eric Agol <notifications@github.com> wrote:

[2018-05-24 15:48] ericagol commented on #23
Yes, I think so.  I'm computing M_{p,q} with the polynomial expansion formula, and getting exact agreement between floating point and BigFloat (for the floating point case, I just set the coefficients up to (k^2)^(p/2+1) to zero).  There is a natural transition point at k^2 = 1/2 for which values of r > \sqrt{1-b^2} we can transition to the series expansion (for k^2 below this value, the transitio

[2018-05-24 16:02] ericagol commented on #23
There is probably a fundamental reason that all of these cancellations occur, but I haven't divined it yet.

[2018-05-24 16:18] rodluger commented on #23
Wow, this is awesome. Thanks for digging into this!

On Thu, May 24, 2018 at 9:02 AM Eric Agol <notifications@github.com> wrote:

[2018-05-24 18:41] rodluger commented on #66
I'm going to keep this open since I still need to test this for eccentric, inclined orbits.

[2018-05-24 19:45] ericagol commented on #23
I've got the odd terms computing to ~machine precision now (I think)!

However, the even terms still have large errors - I need to look into what's causing this problem.

[2018-05-24 19:48] rodluger commented on #23
Fantastic!!! The even terms don't depend on M_{p,q}. Those are the ones I
performed a quartic expansion
<https://github.com/rodluger/starry/blob/a4ef7b0744013a127d27314d87a337ed1d3f5377/starry/taylor.h#L203>
of the limb for.

On Thu, May 24, 2018 at 12:45 PM Eric Agol <notifications@github.com> wrote:

[2018-05-24 20:30] rodluger commented on #23
Great, thanks!

On Thu, May 24, 2018 at 1:24 PM Eric Agol <notifications@github.com> wrote:

[2018-05-24 21:13] rodluger commented on #23
@ericagol I increased the order of my Taylor expansion of `M_{p,q}` from 12 to 16 but saw no change in the error of the s2 term for large occultor radius. I'm still getting errors that creep up to 1 ppm for `l = 8`. What's the maximum difference between your `s2` terms computed using BigFloat and the Taylor expansion for `l = 8`?

[2018-05-25 01:32] rodluger commented on #67
@dflemin3 Can you give this a shot if you have time? Comparing to `batman` should be enough -- I just want to make sure that our light curves agree for different values of `ecc`, `w`, `Omega`, `inc`, `tref`, and `lambda0`.

[2018-05-25 01:33] rodluger commented on #4
@jlustigy suggested adding `assert` statements in the figure scripts and importing them into a test function in the `tests` directory. It's hacky, but will give us excellent coverage while avoiding code duplication!

[2018-05-25 01:52] rodluger commented on #65
@ericagol @jlustigy @dflemin3 @deitrr
Almost ready to go live with this, but wanted your thoughts on this design choice.

Just to bring people up to speed: when the user instantiates a planet with a specific map, we need to decide the frame in which the map is specified. Currently, the map is specified in the sky plane when the planet is closest to the observer (in a transiting configuration, if t

[2018-05-25 06:01] ericagol commented on #23
What r value?  100?

[2018-05-25 06:09] ericagol commented on #23
I may have figured out part of the issue with K_uv, caused by alternating signs in I_uv.  For r>>1, let \phi = -\pi/2 + \kappa, where \kappa << 1.  Then, the integral definition for I_uv gives:

![image](https://user-images.githubusercontent.com/243664/40528775-ea2771b4-5fa6-11e8-8c4a-156020733f32.jpeg)
to first order in \kappa, where \phi^\prime = \phi-3\pi/2.

I_{u,v} = (-1)^v \int_{-\kappa}^\ka

[2018-05-25 13:27] ericagol commented on #23
By the way:  I_uv(\phi) = H_uv(\phi) (they are the same integral, save for the difference in being a function of \phi or \lambda).  H_uv doesn't seem to have this rounding error problem since there is no sum over terms, and \lambda is closer to \pi/2, not -\pi/2, for large \r.

[2018-05-25 13:41] ericagol commented on #23
@rodluger Regarding your question above, for `r = 100`, the fractional `M_pq` values are being computed to machine precision compared with the BigFloat version.  I'm still having trouble computing with the` K_uv` terms due to the alternating signs of `I_uv`, so the so I'm getting huge errors at large `l` values for the even `mu, nu` terms.  The odd terms seem to be computed to machine precision (a

[2018-05-25 15:47] ericagol commented on #23
@rodluger I take that back - I'm getting agreement between the double precision and BigFloat computations, but I think *both* are wrong.  I'm also still getting numerical noise for the even values.  Not sure what is going on or how to fix it yet.

[2018-05-25 17:17] rodluger opened #71 "Make usage of degrees/radians consistent"
Currently, the orbital angles are specified in degrees, but the angles of rotation are specified in radians. We should make everything that's user-facing be in degrees. Also, we should add checks to force the axis vectors provided by the user to be unit vectors.

[2018-05-25 17:36] rodluger commented on #23
Ah, too bad. Keep me posted, but don't stress too much over this! The code
is stable for all major, practical applications, and I'm happy submitting
it even if we don't find a general solution to these instabilities. But it
would be nice, of course, to make it work to arbitrary [image: l]!

On Fri, May 25, 2018 at 8:47 AM Eric Agol <notifications@github.com> wrote:

[2018-05-25 17:40] ericagol commented on #23
I'm getting there...  still debugging code.  I'll revisit next week.

[2018-05-25 17:42] rodluger commented on #23
Sounds good!

On Fri, May 25, 2018 at 10:40 AM Eric Agol <notifications@github.com> wrote:

[2018-05-25 21:01] rodluger opened #72 "Implement Sturm's theorem..."
... for limb-darkened maps. I have this coded up, just need to enable it!

[2018-05-25 21:45] rodluger commented on #72
Done!

[2018-05-25 21:45] #72 closed

[2018-05-25 22:05] rodluger commented on #66
I've tested this on eccentric and inclined orbits and it works!

[2018-05-25 22:05] #66 closed

[2018-05-25 22:07] rodluger commented on #4
Between @dflemin3's benchmarks against spiderman, my benchmarks against batman, the test scripts I have so far, and my hack to run the tutorial notebooks as test scripts, I think we have a fairly robust suite of unit tests, so I'm closing this issue.

[2018-05-25 22:07] #4 closed

[2018-05-29 17:44] ericagol commented on #23
@rodluger I'm finding for all odd `mu > 1` that `s_n=0` (exactly).   These involve an integral over the polynomial basis function `x^{\mu-1}/2y^{\nu-1}/2z`.  It makes sense that this is zero when `x` is raised to an odd power due to symmetry;  this occurs when `\mu = 3, 7, 11, 15, ...`.  What doesn't make sense is why this integral equals zero when `\mu = 5, 9, 13, ...`.  It is possible that I hav

[2018-05-29 17:56] rodluger commented on #23
@ericagol You might have a bug. Here's what I get for `r = 0.1`, `x = 0.1`, `y = 0.1`:
[code]
Here's the code snippet I used to generate this if you want to play around with it:
[code]

[2018-05-29 18:07] ericagol commented on #23
@rodluger How about for `r>1`?

[2018-05-29 18:07] rodluger commented on #71
Just implemented and tested this. All angles are now input in degrees on the Python side. All axis vectors input on the Python side are now automatically normalized.

[2018-05-29 18:07] #71 closed

[2018-05-29 18:13] rodluger commented on #23
Looks like there are other terms that are zero, too, though...

[2018-05-29 18:19] ericagol commented on #23
Yes - any odd polynomial in `x` should be zero.  Looking at equation 7 this gives:

`mu = 2, 3, 6, 7, 10, 11, 14, 15, ...`.

This seems to be the case!

[2018-05-29 18:32] ericagol commented on #23
Yes, I think that agrees with the criteria I wrote four comments above?

[2018-05-29 18:40] ericagol commented on #23
It was a modified version of my code that had the bug;  the original version agrees with yours!

[2018-05-29 19:07] ericagol commented on #23
I figured out another thing that may help.  In the case of large `r` and odd `\mu`, in terms of the `\kappa=\phi+\pi/2` variable that I defined above, the lowest order term in `P(G_n)` is `\kappa^{(\mu+1)/2}`.  I would recommend transforming from `\phi` to `\kappa` (perhaps in all of the code since this should affect the small `r` case much, I think), and then in your series expansion in `\kappa`

[2018-05-29 19:27] ericagol commented on #23
I meant odd `\mu`, I think.  I'm referring to the last line in equation (D25), which does depend on `\phi` through the limits of integration.

[2018-05-29 19:28] ericagol commented on #23
Also, in the `\mu` and `\nu` even case (for which `\mu/2` must be odd to be non-zero), the lowest order term for `P(G_n)` is proportional to `\kappa^{3+\mu/2}`.  So, the lower order terms in this expansion can be set to zero as well.

[2018-05-29 19:35] rodluger commented on #23
Ok, I see what you're saying, but I'm not sure how to implement this. The angle `\phi` drops out when I do all the [elliptic integral acrobatics](https://github.com/rodluger/starry/blob/master/tex/notebooks/case2.pdf) using the G&R identity, so I don't know how to transform to `\kappa`. Unless you mean I should be Taylor expanding the integrand in (D25) directly?

[2018-05-29 19:38] ericagol commented on #23
That link is for the odd `\nu` case;  when `\mu` is odd, so is `\nu`.

[2018-05-29 19:38] ericagol commented on #23
And, yes, I was suggesting Taylor expanding integral (D25) directly.

[2018-05-29 19:39] rodluger commented on #23
Yeah, I was talking about the odd case. Yes, I agree that if we can Taylor expand that integral directly, we are in business! But it's a function of two variables: how do you do it?

[2018-05-29 19:43] ericagol commented on #23
I did the Taylor expansion in terms of the '\kappa' variable, and then integrated this variable.  The `b` and `r` values remain the same.

I'm thinking about another approach which is to keep track of the dependence of `I_uv` on `\kappa` and `\sin{\kappa}`...

[2018-05-29 19:48] rodluger commented on #23
Oh, nice! I finally get what's happening -- sorry, had to go back and re-read the thread. Yes, in principle this should solve all our instability problems, since we'll do away with all possible sources of cancellation. I'm more interested in the odd `\nu` terms since those are the ones that are giving me trouble, but doing this for `I_{u,v}` would be great as well. So have you implemented this for

[2018-05-29 19:50] ericagol commented on #23
Yes, I have, and it seems to help.

[2018-05-29 19:51] ericagol commented on #23
I'm now having trouble with even `\nu` for large `r`...

[2018-05-29 19:54] rodluger commented on #23
Awesome! I'll try it out. What order are you going to in `\kappa`. As for even `\nu`, there's always my quartic expansion...

[2018-05-29 20:11] ericagol commented on #23
So, this is slightly different than what I described above:  I'm using your analytic relations, but expanding the elliptic integrals, and then keeping track of the coefficients as series in `k^2`, not `\kappa`.

[2018-05-29 20:12] ericagol commented on #23
The `\kappa` expansion I haven't implemented code for yet;  I just computed it analytically to second order in `\kappa` times the lowest order power of `\kappa`.

[2018-05-29 20:38] ericagol commented on #23
I think I just figured out an approach for even `\nu` which may avoid the need for the quartic expansion!  If I transform from `\phi` to `(\phi+\pi/2)/2' (which is `\kappa/2`), then I find:

![image](https://user-images.githubusercontent.com/243664/40684132-6905de66-6345-11e8-95b6-fc8f82d89b8f.jpeg)

{\cal P}({\bf G}_n) = 2(2r)^{l+2}\int_{-\kappa/2}^{\kappa/2} (s_\varphi c_\varphi)^{\mu/2+2} \left

[2018-05-29 21:02] ericagol commented on #23
I think this approach may help in the odd `\nu` case as well:  the basic point is to avoid the sign changes of factors that are about the same magnitude in the binomial expansion of (b+r\cos{\phi})^{\nu/2} (or ^{(\nu-1)/2}).

[2018-05-30 00:43] rodluger commented on #23
This is a lot for my brain to process, but it's awesome! Can you LaTeX up a description of the `\kappa` expansion for odd `\nu` when you get a chance so that I can start coding it up in C++?

[2018-05-30 03:29] ericagol commented on #23
Okay, it looks like a series expansion for `I_uv` works!  I'm now getting fractional precisions of ~1e-12 for `r=100` for the even `\nu` terms!  I'm using these relations:

![image](https://user-images.githubusercontent.com/243664/40697117-a964647c-637d-11e8-8d93-0180adc33729.jpeg)

where the last expression is used when \kappa < 0.1 (for now; this could be expanded to higher order in \kappa).   T

[2018-05-30 05:04] ericagol commented on #23
For the `\nu` odd terms, the form of `J_uv` changes, so we'll need to revisit G-R to find recursion relations.   I'm not sure the expansion can be carried out as I was envisioning for `J_uv`, so it will probably still have to be carried out for a modified version of `M_pq.`  Here's the transformed equations:

![image](https://user-images.githubusercontent.com/243664/40699963-2ae8b0da-638c-11e8-81c

[2018-05-30 05:58] ericagol commented on #65
I think this makes sense for the applications that you are envisioning (secondary eclipses & planet-planet occultations).  The one case I can think of that would break this is the case in which the orbit is precisely face-on.  This would be an issue if one were using STARRY to study a directly-imaged planet that happened to be nearly face-on within the uncertainties.  However, such a planet would

[2018-05-30 16:31] ericagol commented on #23
@rodluger Could you send me the equations in G&R which have the format `c^p s^p (1-k*s^2)^{3/2}`?

[2018-05-30 16:52] rodluger commented on #23
These look fantastic, thank you! Here is a snapshot of the page I think you want:
![img_20180530_094658](https://user-images.githubusercontent.com/9323819/40735057-095c8b72-63ef-11e8-8496-02c0bf51fbcd.jpg)
where `\delta = \sqrt{1 - k^2 \sin^2 x}` and `k' = \sqrt{1 - k^2}`

[2018-05-30 17:09] ericagol commented on #23
@rodluger Awesome, thanks!  The problem I think we are running into numerically is that these [integration by reduction formulae](https://en.wikipedia.org/wiki/Integration_by_reduction_formulae), which are used to compute `I_uv, H_uv` and `M_pq`, seem to in general have significant cancellations between leading order terms which occur when iterating.  One solution is to just carry out series expan

[2018-05-30 17:21] rodluger commented on #65
This has been implemented and tested, and I'm happy with the behavior now. I explain these conventions in detail in [this tutorial](https://rodluger.github.io/starry/tutorials/geometry.html).

[2018-05-30 17:21] #65 closed

[2018-05-30 17:36] rodluger opened #73 "Pre-compiled binaries on PyPI"
@dfm Do you know how to do this? Compiling takes ~2 minutes, and it would be nice if most users didn't have to sit through that when pip installing the package.

[2018-05-30 18:07] dfm commented on #73
I'd recommend making a conda-forge package. That'll be a lot easier because you won't need to support building all the binaries yourself!

[2018-05-30 18:07] dfm commented on #73
e.g.: https://github.com/conda-forge/celerite-feedstock

[2018-05-30 18:32] rodluger commented on #73
Cool, I'll play around with that. Thanks!

[2018-05-30 18:42] dfm commented on #73
I'm also happy to write up the recipe if you don't want to. Just let me know!

[2018-05-30 18:55] dfm commented on #73
cool. Just ping me when you want me to have a go.

[2018-05-30 19:16] ericagol commented on #23
@rodluger There's another condition I found for `Q(G_n)` which is zero for odd values of `\mu/2`.

[2018-05-30 20:40] rodluger commented on #23
Nice! I updated the tex document and implemented this in the code & checked that all tests pass.

[2018-05-30 22:36] ericagol commented on #23
@rodluger I've added a series expression for `J_uv` in the large-`r` limit.  I haven't coded this up or checked it yet, so beware of typos, but I think it should be more stable for the odd `\nu` case.

[2018-05-30 22:38] rodluger commented on #23
OK, great! I'll implement it in C++ in the next couple days.

[2018-05-30 23:08] rodluger commented on #66
For what it's worth, I found a thinko in my math. The time delay should be computed based on the *retarded* position, not the actual position, since that is where the photon left from! The math gets trickier, but since we're only expanding stuff to 2nd order, it boils down to solving a quadratic equation for `dt(x'(t))`. Here's the derivation, if we ever choose to revisit this.
![img_20180530_1541

[2018-05-31 02:02] ericagol commented on #23
@rodluger I think I've figured out how to compute `I_{u,v}` stably.  The idea is to avoid subtracting things - subtraction leads to round-off error.  So, what I'm trying out is computing `I_{0,v}` for large even `v` using a series expansion.  Then, I iterate *downwards* in `v` (in steps of two since only even `v` are needed).  Once I have all of the `I_{0,v}` terms I iterate *upwards* in `u`.  Thi

[2018-05-31 02:52] ericagol commented on #23
The attached code computes `I_{u,v}` to (fractional) double-precision.

# Code that tests new approach to iterating I_uv downwards.

function Iuv_up(l_max::Int64,kappa::T) where {T <: Real}
# Iterate upwards in u and v:
Iuv = zeros(typeof(kappa),l_max+3,3l_max+3)
kap2 = 0.5*kappa
ckap = cos(kap2); skap = sin(kap2)
skap2 = skap*skap
ckap2 = 1.0-skap2; ckapn = ckap; skapn = skap
for u=0:2:l_max+2

[2018-05-31 02:54] ericagol commented on #23
It seems to start degrading around `l_max = 17`, at which point there is still machine precision for most coefficients, but the worst is ppb.

[2018-05-31 15:52] rodluger commented on #23
That's fantastic. I imagine `BigDouble` will start to break down eventually, so that's something to check. When you do your calculations in `BigDouble`, what value of `\pi` are you using? I had to make sure I was computing `\pi` to `BigDouble` precision for my error checks, since good old `M_PI` wasn't accurate enough!

[2018-05-31 16:16] rodluger opened #76 "analytical or analytic?"
Analytical.

[2018-05-31 16:16] rodluger commented on #76
Analytic.

[2018-05-31 16:16] rodluger commented on #76
Analytical.

[2018-05-31 16:52] ericagol commented on #76
But it seems both usages are common...

[2018-05-31 16:52] ericagol commented on #23
3.141592653589793238462643383279502884197169399375105820974944592307816406286198

[2018-05-31 17:03] rodluger commented on #23
Nice. Looks like plenty of digits :)

[2018-05-31 17:04] ericagol commented on #23
I think you are right:  the standard `I_uv` computation has the same error when I use BigFloat!

[2018-05-31 17:05] rodluger commented on #23
Sweet. I think we've found the definition of "numerically stable".

[2018-05-31 17:16] ericagol commented on #23
This is still just for the even terms;  I'll look at the odd terms today.

[2018-05-31 17:22] ericagol commented on #23
A funny thing is that `I_{0,0} = \kappa` which the downward iterative method computes with series in `\sin{\kappa}, \cos{\kappa}`, which actually works!  This is essentially a Fourier series, I think.

[2018-05-31 17:27] rodluger commented on #23
Cool! Do you think the downward iterative method is better than what you
wrote up in the paper so far?

On Thu, May 31, 2018 at 10:22 AM Eric Agol <notifications@github.com> wrote:

[2018-05-31 17:28] ericagol commented on #23
Yes:  I need to add that.  And, it may also help to stabilize the `M_pq` computation.

[2018-05-31 17:29] rodluger commented on #23
Nice, fingers crossed!

On Thu, May 31, 2018 at 10:28 AM Eric Agol <notifications@github.com> wrote:

[2018-05-31 19:42] rodluger commented on #23
@ericagol
I coded up the changes you made to the criteria in (D25), but the tests failed. Can you check if there's a mistake here? The old criteria read `\nu even` for the first case and `otherwise` for the fourth case, and there was no case that resulted in `P = 0`. It looks like you were counting on the sine term to be odd over the integration limits, but I think it's an even function.
![image](

[2018-05-31 19:52] ericagol commented on #23
@rodluger Whoops, that was meant to be the criterion for `\mu`, not `\nu`!  So, I think it should read `\nu` even, `\mu/2` even in the first case (if `\nu` is even, then `\mu` is even, but `\mu` also has to be doubly even), and `\nu` odd, `(\mu-1)/2` odd in the fourth case?

[2018-05-31 20:12] rodluger commented on #23
Yep, that worked! Thanks for finding the extra symmetry. I'll push my changes to the document shortly. Here are the simplified cases (I got rid of some redundancy):
![image](https://user-images.githubusercontent.com/9323819/40805664-de541482-64d3-11e8-8aa1-3ffa2c953385.png)

[2018-05-31 20:15] ericagol commented on #23
Nice!

[2018-05-31 20:55] ericagol commented on #23
@rodluger I think I found a simplification in the evaluation of `J_{u,v}` in my new formalism.  Since `(\mu-1)/2` is even, then in equation (44), fourth case, the `c_\varphi` term is raised to an even power, which can be written as `(1-s_\varphi^2)^{(\mu-1)/4}`.  This can be expanded using the binomial theorem, and will result in *only* powers of `s_\varphi`.  Thus, `M_{p,q}` in this case *only* h

[2018-05-31 22:56] rodluger commented on #23
Very cool. We could do the same thing for the original expression, (D25), no? The cosine term is always even in that case as well.

Also, I corrected `\nu/2 --> mu/2` in my formulae, but not in yours (D44 and D45). I'm assuming those should also be `\mu` instead of `\nu`?

[2018-05-31 22:58] ericagol commented on #23
Yes to both, I think.

[2018-05-31 22:59] ericagol commented on #23
I’ve made some changes to the text in my branch, but haven’t merged these yet.

[2018-05-31 23:03] rodluger commented on #23
OK. I corrected the typos and pushed so you'll have to do some conflict resolution when you merge.

[2018-05-31 23:26] ericagol commented on #23
I think the extra sums only involve the double-binomial coefficients, `A_{p,u,v}`, which I've already computed for `L_{u,v}`.

[2018-06-01 16:30] rodluger opened #78 "Linear model for the map coefficients"
Given a light curve `d` with covariance matrix `\Sigma` and a matrix of priors on the map coefficients `\Lambda`, the maximum likelihood map coefficients are
![image](https://user-images.githubusercontent.com/9323819/40852044-0935c1fa-657e-11e8-8772-98c8ad00340e.png)
where `S` is a matrix whose columns are the solution vectors `s` at each cadence. We can easily derive the uncertainties on `\hat{y}

[2018-06-01 16:50] rodluger commented on #73
@dfm What about Windows builds? I've seen you do stuff with Appveyor -- I'm assuming Travis doesn't support Windows. How hard is it to get CI working for starry on Windows machines?

[2018-06-01 17:11] rodluger commented on #32
From (D26), when the occultor is not touching the limb of the planet, the integral is taken over all `2\pi` radians. The result is always zero unless *both* the sine and cosine terms are raised to even powers.

[2018-06-01 17:14] rodluger commented on #32
There are probably cases like this for `P(Gn)`. Going to work on those next.

[2018-06-01 17:50] dfm commented on #73
I'm trying to set this up, but you might need to log into appveyor and enable it for this repo...

[2018-06-01 18:20] rodluger commented on #73
Done!

[2018-06-01 18:46] rodluger commented on #32
Looks like `J_{u,v} = 0` when either `u` or `v` is odd (and the occultor doesn't touch the limb)!

[2018-06-01 19:38] rodluger commented on #32
I implemented all of these and tested them: it worked, and should make the code a bit faster!

[2018-06-02 00:50] #32 closed

[2018-06-02 23:51] ericagol opened #81 "Evaluating large `l` spherical harmonics"
The factorials in equations (A3) (`A_{lm}`), (A6) (`B_{lm}^{jk}`), and (A8) (`C_{pq}^k`) can be computed using the [`log \Gamma` function](http://mathworld.wolfram.com/LogGammaFunction.html).

I suspect that this should help in preventing overflow/underflow problems when `l` is large.

[2018-06-04 04:48] ericagol opened #83 "A simplification for r+b < 1, k^2 > 1:"
I think that in this case the `\mu/2` even case simplifies to a sum over polynomials and factorials:

![image](https://user-images.githubusercontent.com/243664/41183966-32d91642-6b32-11e8-8e2a-18a5c8fa4d1c.jpeg)

where `A_{i,u,v}` is a polynomial in `\delta` which is the same as that defined in appendix D.2.3.

`{\cal P}({\bf G}_n) &= 2\pi(2r)^{l+2} \sum_{i=0}^{\mu/4+\nu/2}A_{i,\tfrac{\mu}{4},\tfr

[2018-06-04 16:21] rodluger commented on #83
That makes sense. My expression for `I_{u,v}` involves sines and cosines of
`phi`, but `sin phi` is a simple function of `b` and `r`, so I'm never
doing any trig.

On Sun, Jun 3, 2018 at 9:48 PM Eric Agol <notifications@github.com> wrote:

[2018-06-04 16:28] ericagol commented on #83
I tried applying the `(1-x)^u (x+x0)^v` expansion to the `P(G_n)` equations in section D.2.1;  however, the `\cos{\varphi}^2` terms need to be expressed as `(1-x^2)^u`, and so I found that I would need to find the expansion as `(1-x)^u (1+x)^u (x+x0)^v` with `x=\sin{\varphi}`.  This is more complicated to work out.  So, instead I just used the same transformation as for the large `r` case in secti

[2018-06-04 21:24] rodluger opened #84 "Re-parametrization of the formulae for large occultors"
Continuation of the discussion in #23.

[2018-06-04 21:42] rodluger opened #85 "Compute everything using multiprecision"
Currently, only the solution vector **s** is computed using multi-precision when the user requests "bigdouble". Now that it looks like our solver may be able to handle arbitrarily large `l`, I should allow for the option to compute the spherical harmonic coefficients and rotation operations at high precision well. I'm working on templating this other part of the code now. Things to watch out for:

[2018-06-05 10:28] ericagol commented on #84
Okay, I've finally got code working and debugged, and checked the equations in the appendix section D.2.3;  I think these are all correct now for the `b+r>1` and `k^2<1` limit.  I coded this up in the `julia/` directory as `sn_bigr.jl` with an example test `test_sn_bigr.jl`.  It seems to work to ~machine precision for the `r=100` example in that test.

[2018-06-05 10:53] ericagol commented on #83
I haven't coded this up yet, but hopefully it will take less time than the `k^2 < 1` case!

[2018-06-05 22:14] ericagol opened #88 "Some other questions:"
- [x]  Do we need an expression near b=0?  k^2 -> \infty, which shows up outside of elliptic integrals.
- [x] Code just in starry:  paper focuses on spherical harmonics & math.  Can compute arbitrary order limb darkening, but only need m=0 terms.
- [x]  limbdark: rewriting Mandel & Agol linear term with stable formula.  Write down m=0 relations.
- [x]  Compare double-precision versions of Julia &

[2018-06-05 22:16] ericagol opened #89 "Try out simpler formulation for k^2<1"
This may be for version 2 of the paper.

[2018-06-07 14:36] dfm commented on #73
So. Building on Windows is proving to be difficult. The logs are here: https://ci.appveyor.com/project/dfm/starry-owxbn

There are about infinity compiler warnings (mostly/all warning #4503) but the internet suggests that maybe we can ignore that. Then the tests crash without any error message (`Command exited with code -1073740791`). I'm not entirely sure what to try or how to track down this pro

[2018-06-07 16:41] rodluger commented on #73
So weird. You could try the `-s` command [when invoking pytest](https://github.com/dfm/starry/blob/windows/appveyor.yml#L30) to disable stdout/stderr capture and see if it spits out anything useful...

[2018-06-07 17:39] #76 closed

[2018-06-07 21:55] rodluger commented on #88
@ericagol
When `b = 0`, `k^2 = infty`, so my recursion formula for `J_{u,v}` doesn't work. The stable expression I derived near `b = 0` comes from Taylor expanding the term in parentheses in the integrand of
![image](https://user-images.githubusercontent.com/9323819/41128056-e0074108-6a61-11e8-822b-f89783d162f9.png)
in terms of `b`. Each term in the series is then a constant times some power of `s

[2018-06-07 22:55] ericagol commented on #88
I'll think about it...   this is going to be problematic when `r ~ 1` since then the portion of the star near `y=-1` will be unocculted.

[2018-06-07 23:38] ericagol commented on #88
I think the solution is to use my transformed equations (as I did in section D.2.3 for `k^2 <1`).  See issue #83 - the primitive integral is just a polynomial in `\delta = (b-r)/(2r)` for the `\mu/2` even case, which should be stable to evaluate for small `\delta`.  For the `(\mu-1)/2` even case, I get the following expression:

![image](https://user-images.githubusercontent.com/243664/41131475-d7

[2018-06-08 00:30] ericagol commented on #88
The only difference in this case is that `J_v` is evaluated from `-\pi/2` to `\pi/2` rather than `-\kappa/2` to `\kappa/2`.

[2018-06-08 00:38] rodluger commented on #88
Cool!

On Thu, Jun 7, 2018, 5:30 PM Eric Agol <notifications@github.com> wrote:

[2018-06-08 15:58] rodluger commented on #88
I get this for the expansion of J near `k2 -> infty`:
![image](https://user-images.githubusercontent.com/9323819/41168190-0add3fd4-6afa-11e8-89f3-d300d63bef77.png)

[2018-06-08 19:20] rodluger commented on #88
@ericagol Ok, I implemented this for all cases and it works great! Right now, I have a constant small threshold for `b` below which I use the Taylor expansion. But I'm finding that the instability occurs at higher values of `b` as `l` increases. It looks like around `l = 15` the instability becomes significant for `b < 0.1`. Your formula, on the other hand, seems to be stable at all `l`. We're goi

[2018-06-08 19:23] ericagol commented on #88
@rodluger  Great!  Or perhaps just use the new formula everywhere?

[2018-06-08 22:27] ericagol commented on #83
I think this equation has a couple of errors still...

[2018-06-08 22:37] ericagol commented on #83
I've just corrected the equation above.

[2018-06-09 05:19] ericagol commented on #88
@rodluger  I've added these fairly hastily;  I have yet to code them up to check for mistakes.  I also added in the `I_0`, `J_0`, and `J_1` terms for upward iteration (in both cases).

[2018-06-10 03:19] rodluger commented on #88
@ericagol
I coded up the `ksq < 1` case and it seems to work great! Here's the stability plot for the Earth's secondary eclipse using your downward recursion (left) and my old approach (right):
![image](https://user-images.githubusercontent.com/9323819/41197979-febd5c92-6c21-11e8-9b6d-0fa12b307a84.png)
Your approach gives 3 orders of magnitude better precision. It's still not at the machine limit

[2018-06-10 03:37] ericagol commented on #88
Just to the document, although I’m starting to add to code.  I haven’t checked for accuracy yet.

[2018-06-10 03:39] ericagol commented on #88
One thing I found that makes a big difference is being careful in computing k_c - you can see how I did it in the code.  Could it also be that some precision is lost in the computation of Y_lm or the rotation matrices?

[2018-06-10 05:54] ericagol commented on #88
I've coded up the equations for `k^2 >1` (these are still in the julia code file `sn_bigr.jl`), which seems to work well, even near `b=0`!  However, there are still significant errors for large `l` when `b` is near 0.  I'm wondering whether this may be due to the computation of `H_uv`, for which I'm still using your old formalism.

[2018-06-10 06:44] ericagol commented on #88
It turns out that the math for `Q(G_n)` is pretty similar to the `\mu/2` even case for `P(G_n)`.  For `Q(G_n)` I find the expression:

![image](https://user-images.githubusercontent.com/243664/41198907-e675f506-6c3d-11e8-9c1d-cc88ce8fd987.jpeg)

where `A_{i,u,v}` needs to be evaluated at `\delta = -1/2` and `I_v` needs to be evaluated with `\beta` instead of `\kappa`, or equivalently at `k^2=((b+1

[2018-06-10 15:02] ericagol commented on #88
@rodluger I just noticed that `H_uv` is zero for odd values of `v`.  So, we can add the extra condition that `\nu/2` must be even, in addition to `\mu/2` when computing `H_uv`.

[2018-06-10 15:27] rodluger commented on #85
Done

[2018-06-10 15:27] #85 closed

[2018-06-10 15:27] rodluger commented on #89
Looks like we're doing this in v1!

[2018-06-10 15:27] #89 closed

[2018-06-10 16:07] rodluger commented on #88
@ericagol Here's Earth with `lmax=20`: no signs of instabilities!
![image](https://user-images.githubusercontent.com/9323819/41203559-a5457e94-6c8d-11e8-8d96-2ddd479cc79c.png)

[2018-06-10 16:10] rodluger commented on #88
@ericagol I think `H_{u,v} = 0` for odd `v` only when the occultor isn't touching the limb, right?

[2018-06-10 17:49] ericagol commented on #88
@rodluger  Oh, you are right;  that was the case I was testing.

[2018-06-10 17:51] rodluger commented on #88
@ericagol
Your math for Q(G_n) checks out, but only if I use
![image](https://user-images.githubusercontent.com/9323819/41204608-b33b2a9a-6c9b-11e8-9f4d-95ec7ed2bc09.png)
instead of the value you mentioned.

![image](https://user-images.githubusercontent.com/9323819/41204655-27777b3e-6c9c-11e8-83fa-1078da313df7.png)

[2018-06-10 17:52] rodluger commented on #88
I think it may be because you identified `beta/2` with `kappa` instead of `kappa/2`...

[2018-06-10 18:02] rodluger commented on #88
Never mind, I think there's a typo in the manuscript, page 46, where you say `kappa = sin^-1(k)`. I think it should be `kappa / 2 = sin^-1(k)`. Ignore my previous comments if that's the case.

[2018-06-10 18:03] rodluger commented on #88
Yep, that was it:
![image](https://user-images.githubusercontent.com/9323819/41204782-e40daf10-6c9d-11e8-83e6-c544a9e06cab.png)
@ericagol can you fix that typo?

[2018-06-10 19:01] rodluger commented on #88
@ericagol
So, I tested it out and the trick of using A and I to compute Q works, but it can be extremely slow to converge because your re-defined `k` is typically much closer to 1 than it is to zero, so the terms in the series solution for `I_vmax` don't start getting small until after a few hundred iterations. But perhaps you were thinking of doing the upward iterations in this case? That might f

[2018-06-10 19:11] rodluger commented on #88
BTW I verified that the noise floor at 10^-10 is not due to the rotation matrices. It could be due to the evaluation of the Ylms. I'll keep digging.

[2018-06-10 22:16] rodluger commented on #88
@ericagol Update on trying out [your expression for Q](https://github.com/rodluger/starry/issues/88#issuecomment-396025079). The series expression for `I_vmax` doesn't seem to converge near ingress for `l = 20` and `r = 110` (my Earth secondary eclipse example), so as I said above downward recursion doesn't work. I tried to do upward recursion, starting with `I_0 = 2 asin(k)`, but that became unst

[2018-06-10 22:18] ericagol commented on #88
@rodluger Yes, that's a typo;  it should be `\kappa = 2 \sin^{-1} k`, which is written correctly just after D43, but incorrectly after D54; sorry about that!  Fixing it now.

[2018-06-10 22:22] ericagol commented on #88
@rodluger Upward recursion seems to work fine for computing `H_v` (for the particular set of parameters I'm using right now).  I am getting larger errors than I would like for small `b` still, which I need to look into.

[2018-06-10 22:42] ericagol commented on #88
@rodluger Hmmm...  I'm still getting errors larger than I would like, which seem to be due to `J_v`.  I think the best way to solve this would be with a tridiagonal solver:  compute the `J_0` and `J_{v_max}` terms, and then iterate upwards and downwards, transforming the algebra so that you aren't multiplying by large factors.

[2018-06-10 22:50] ericagol commented on #88
@rodluger We should map out where raising/lowering the `v` indices gives better precision.  As I mentioned, I suspect raising will work better for `k^2 ~ 1`, and lowering in small and large `k^2` limits.

[2018-06-11 01:40] rodluger commented on #88
Yes, that would be super useful! I can probably code that up in the next few days.
I'm going to keep trying to get a stable upward recursion for Q as above, but so far I've failed. I'll keep you posted.
I haven't coded up the k2>1 case but will do that next.

[2018-06-11 01:41] rodluger commented on #88
I didn't quite understand the tridiagonal method: do you mean we simply compute J_v from the top or bottom, whichever is closest?

[2018-06-11 02:19] ericagol commented on #88
I mean the following -   write the recursion as:

![image](https://user-images.githubusercontent.com/243664/41209792-99a0047e-6ce2-11e8-9763-e6abbaebb200.jpeg)

Then you have a system of equations going from `J_0` to `J_{v_max}`.  Compute these, and create
a matrix of the coefficients `-\alpha_v`, `1`, `\beta_v`,  multiplying a vector from `J_1` to `J_{v_max - 1}`, and on the right will be a vecto

[2018-06-11 02:36] ericagol commented on #88
In the `k^2 < 1` case, I'm wondering if we just iterate with `k^{1+2v} I_v` and `k^{1+2v} J_v`, if that would be more stable?

[2018-06-11 17:34] rodluger commented on #88
@ericagol Can you point me to the code you use to compute `Q` from `A(-0.5)` and `I(beta)`? I still can't get mine to converge for large `l` during eclipse ingress. Here's my Earth occultation plot using your new method (downward iteration for I on the left, upward on the right):
![image](https://user-images.githubusercontent.com/9323819/41247306-7cc5f054-6d62-11e8-9799-16c78255d2fd.png)

The plot

[2018-06-11 17:39] ericagol commented on #88
@rodluger It's in `julia/sn_bigr.jl` (although the code is no longer just for large `r`).  I have two functions: `Hv_raise!` and `Hv_lower`.  These both seem to give similar precisions.

[2018-06-11 18:08] ericagol commented on #88
@rodluger The only difference with above is how you are computing `Q(G_n)`?

[2018-06-11 18:24] rodluger commented on #88
@ericagol I think I found the issue. Look at (D55):
![image](https://user-images.githubusercontent.com/9323819/41249506-3241af58-6d69-11e8-9738-8a73183b8692.png)
If I re-write this to solve for `I_v` in terms of `I_{v-1}`, I get
![image](https://user-images.githubusercontent.com/9323819/41249657-854e53b8-6d69-11e8-8ddb-e34c960f145d.png)
which for `I_1` is equal to `0.5 * I_0 - k * kc`. But in your

[2018-06-11 18:35] rodluger commented on #88
![image](https://user-images.githubusercontent.com/9323819/41250375-9370aaac-6d6b-11e8-87db-22999f673e8e.png)

[2018-06-11 18:44] ericagol commented on #88
@rodluger Thanks, good catch, and sorry about the mistake.  Does this fix the computation of `Q`?

[2018-06-11 18:47] rodluger commented on #88
@ericagol It doesn't; I coded up my version from the paper, so I didn't have that bug. I suspect that once you fix it you might see the instabilities.

[2018-06-11 18:52] ericagol commented on #88
@rodluger But you could go back to the original version of computing `Q` from `H_{uv}`?

[2018-06-11 18:52] rodluger commented on #88
That's right, my original version appears to be very stable.

[2018-06-11 19:27] rodluger commented on #88
I think so, although I'm still curious about what's causing the instability.
I wonder if this fixes your instabilities for small b?

[2018-06-11 20:49] ericagol commented on #88
It doesn't seem to fix the problem for small b.  The problem at small `b` seems to be caused by alternating signs in the terms `A_{i,u,v}`.  I did find an improvement by computing `K_{uv}`, `L_{uv}`, and `Q` by taking the sum of positive and negative terms from least to greatest (each), and then summing the results together;   I think this avoids the round-off error caused by the alternating signs

[2018-06-11 21:21] rodluger commented on #88
So, with the code you just pushed, if I run `test_sn_bigr.jl`with `r = 110` and `b = 110.99`, I get lines that look like this:
[code]
where the difference between `s` and `s_big` is a few orders of magnitude. Curiously, this happens for `l = 19` and `l = 17`, but is much less pronounced for large even `l`. If you switch to the old `H_{u,v}`, these instabilities should disappear.

[2018-06-11 21:29] ericagol commented on #88
Okay, thanks!  I still find some large relative errors, but much smaller in the absolute sense:

`n: 291 l: 17 m: -15 mu: 32 nu: 2 s: -6.382340453166007e-18 s_big: -6.734484328137131e-18 d_old: -0.05228965690807874 d_big: -0.05228965690807874
n: 363 l: 19 m: -17 mu: 36 nu: 2 s: 1.9843516557680895e-19 s_big: -1.201711975110431e-19 d_old: -2.651270601331686 d_big: -2.651270601331686
n: 367 l: 19 m:

[2018-06-11 21:35] ericagol commented on #88
Are you happy with this?

[2018-06-11 21:43] rodluger commented on #88
I think so, though we should come back to this after I've finished coding everything up in C. Are you sure that the remaining error is still due to `H`?

[2018-06-11 21:45] ericagol commented on #88
Sorry, no;  it's due to `K` or `L`, not `H`.

[2018-06-11 21:50] rodluger commented on #88
In that case I'm definitely happy with it!

[2018-06-12 02:56] rodluger commented on #88
I think there's a typo in (D65):
![image](https://user-images.githubusercontent.com/9323819/41267743-8298356a-6db1-11e8-82a8-082cadc9e105.png)
The factor of 2 shouldn't be there in the `K` term:
![image](https://user-images.githubusercontent.com/9323819/41267717-6933dd5e-6db1-11e8-9d4d-0055ee17d66f.png)

[2018-06-12 16:15] rodluger opened #98 "Evaluating `I_v` for `k^2 > 1`"
For integer `v`, the expression for `I_v` in the `k^2 > 1` limit
![image](https://user-images.githubusercontent.com/9323819/41302924-a214f8c8-6e20-11e8-8674-a276c899bf27.png)
is just a ratio of Gamma functions:
![image](https://user-images.githubusercontent.com/9323819/41302916-9be8cbc8-6e20-11e8-98f1-c1b5b400f95b.png)
for which [efficient, accurate algorithms](https://www.boost.org/doc/libs/1_60_

[2018-06-12 16:55] rodluger commented on #88
@ericagol We should make it clear in the text that (if I'm not mistaken) the upward and downward recursion expressions for I and J (D55, D56, and D73) are valid in both the `k^2 < 1` and `k^2 >= 1` cases, even though the boundary conditions are different.

[2018-06-12 17:10] ericagol commented on #98
Sounds great!   Of course these can also be computed recursively with I[0]=\pi and I[v]=I[v-1]*(1-1/(2v)), which should be fast and stable.  Are these algorithms compatible with autodiff?

[2018-06-12 17:17] rodluger commented on #98
Well, since `I_v` doesn't depend on `b` or `r` when `ksq >= 1`, the derivative is always zero, no? Shouldn't be a problem for autodiff.

[2018-06-12 17:22] ericagol commented on #98
I just tried calling `cel_bulirsch` with `r=0.1` and `b=0.9` yielding `k_c = 0` but `k^2 = 1-small number` and found that it didn't exit the while loop.

[2018-06-12 17:38] rodluger commented on #88
@ericagol I think you want your tolerance to be `eps(1/k2)` when `k2 >= 1`:
https://github.com/rodluger/starry/blob/7126d6729a85a3f4f784e93bfea7eb870cce875a/julia/sn_bigr.jl#L87

[2018-06-12 17:48] rodluger commented on #98
Hmm -- it didn't exit the `cel_bulirsch` loop?

[2018-06-12 18:51] ericagol commented on #98
Yeah - the parameter `kc` is zero, while `g` stays pinned at `1.0`, so `abs(g-kc)` never decreases below the tolerance, `g*ca`.   I think what I need to do is to check for both `k^2=1` and `kc=1` since round-off error can sometimes cause the sum `k^2+kc^2` to not be equal to one.

[2018-06-12 18:53] ericagol commented on #88
Maybe!  Can you tell me what `b` and `r` values you use, and whether you are raising/lower the `I_v`, `J_v`, and `H_uv`?

[2018-06-12 19:03] rodluger commented on #88
For `r = 0.1`, `b = 1e-8`, `l = 10`, here is the difference between all of the `s` terms computed at double and quadruple precision:
![image](https://user-images.githubusercontent.com/9323819/41311092-2d51a55a-6e38-11e8-98bc-8cdbc987b50b.png)
The relative difference is below machine precision everywhere, although the fractional difference creeps up to `1e-4` when the term is very small: I think th

[2018-06-12 20:21] ericagol commented on #88
I get similar looking residuals as you for the same parameters:

![diff_lmax10_r0 1_b1em8](https://user-images.githubusercontent.com/243664/41314779-8f3ff9ce-6e42-11e8-8348-a13ccaab1a95.png)

I'm happy that we've reached machine precision!  Thanks for tracking down the typos - I didn't do as thorough job as I had with the `r>>1` case, so sorry you had to root out the errors.

[2018-06-12 20:31] rodluger commented on #88
Nice! And no worries, this is the best way to make sure we're doing the
right thing.

By the way, my criterion for doing upward recursion is 0.5 < k^2 < 2. It
seems to work well everywhere I've tested it. It may be related to the fact
that if the series coefficients are close to unity, 1/2 is the largest
value for which the series converges. Our coefficients drop off with
increasing n, but as a ru

[2018-06-12 20:51] rodluger opened #99 "cel convergence issues"
Moving the discussion of `cel_bulirsch` convergence (#98) here.

**Eric Agol:** I just tried calling `cel_bulirsch` with `r=0.1` and `b=0.9` yielding `k_c = 0` but `k^2 = 1-small number` and found that it didn't exit the while loop. The parameter `kc` is zero, while `g` stays pinned at `1.0`, so `abs(g-kc)` never decreases below the tolerance, `g*ca`.   I think what I need to do is to check for bo

[2018-06-12 20:52] rodluger commented on #99
@ericagol I confirm that the elliptic integral does not converge when `b + r = 1` in general.

[2018-06-12 20:54] #98 closed

[2018-06-12 20:54] #83 closed

[2018-06-12 20:56] rodluger opened #100 "Flux is nan when b = 0"
Makes sense, since `ksq = inf`. What do you do to avoid this? (The calculation looks stable as b --> 0; this is just an issue when b == 0).

[2018-06-12 21:02] rodluger opened #101 "Compare Julia and C++ versions"
Write thorough tests to ensure we get the exact same results. (Looks like we do, but let's be formal about it.)

[2018-06-12 21:04] rodluger commented on #88
@ericagol Let me know once you've fixed the typo in (D65) and your `cel` code for `J_0` and `J_1` and I'll close this issue. I've opened new ones with things that came up, so that will help with the organization.

[2018-06-12 21:20] rodluger commented on #100
Ok, I figured it out. I had to manually set `kc` and `k` as well as the elliptic integrals, which are just `K = 0` and `E = 1`.

[2018-06-12 21:20] #100 closed

[2018-06-12 21:41] rodluger commented on #10
This has been implemented!

[2018-06-12 21:41] #10 closed

[2018-06-12 21:55] rodluger opened #102 "Implement `cel` derivatives"
Should be easy: https://github.com/rodluger/limbdark/issues/11

[2018-06-12 21:58] rodluger commented on #81
We could also use the gamma ratio function (#98) or compute the coefficients using multi-precision and cast to double (this is done **once** when the map is instantiated, so the overhead would be small.)

[2018-06-12 23:01] rodluger commented on #84
@ericagol Preliminary speed tests look good. For small occultors, your formulae take about twice as long to evaluate as mine, which I think is fine since the extra precision is certainly worth it. But I suspect I can make the code faster in places, so I'm going to keep trying.

As for stability tests, everything improved **dramatically** at all values of `b`, `r`, and `l`! The relative error is le

[2018-06-12 23:36] ericagol commented on #84
Yes, I find this as well.  However, this is right at the end of ingress/
beginning of egress when the flux approaches zero.   In this case,
I think the relevant comparison is to the total flux, which is the
relative case.  In this case I find a precision of better than 2e-14,
while in your case the relative precision seems to approach 1e-9?

[2018-06-12 23:37] ericagol commented on #88
Yes, I've fixed those; thanks!

[2018-06-12 23:37] #88 closed

[2018-06-12 23:39] ericagol commented on #99
I fixed this by setting `kc=eps(k2)` when `k^2=1` or `kc = 0`.

[2018-06-12 23:39] #99 closed

[2018-06-13 17:34] rodluger commented on #84
@ericagol We should make explicit in the text that when `b = 0`, `J_v = I_v`, since our regular expressions blow up at that point. We should probably also re-parametrize to remove the `k^3` from our definition of `L` (D51 and D52), since that term is always multiplied by `F`, which cancels the `(4br)^1.5` in the denominator. This term blows up as `b --> 0`. I see you [coded this up correctly](http

[2018-06-13 17:42] ericagol commented on #84
Yes, good points.  I coded it up correctly as well, but didn't change the text to reflect that.

I think you can summarize the above plots by using the asinh error with a transition at, say, `10^{-14}`.

[2018-06-13 19:42] rodluger opened #104 "Determine when to do upward / downward recursion"
In the computation of `J_v`, I am currently doing upward recursion when `0.5 < k^2 < 2.0` and downward recursion in all other cases. This seems to work well in all the cases I've tested, but I'm opening this issue so that we can re-visit this at some point with some more rigorous stability tests.

[2018-06-13 21:18] rodluger commented on #84
@ericagol Can you write out an expression for how to compute the `asinh` errors? I understand their application to computing absolute magnitudes, since `lim(b --> 0) asinh(0.5/b * f / f0) + ln(b) = ln(f / f0)`, but how exactly do I use this to compute a weighted error from the relative and fractional errors? Thanks!

[2018-06-13 23:08] rodluger opened #105 "Machine precision in Kepler solver"
Currently default tolerance is `1e-8` but it should really be `mach_eps<T>`. Easy fix.

[2018-06-14 17:38] ericagol commented on #84
@rodluger Now that I've thought about this more, I'm not sure it will work.  The idea I was thinking of was that `asinh(x)` approaches `log(2x)` for `x >> 1`, and approaches `x` for `x <<1` (with `b=0`).  So, given some transition point at, say, `x_0=10^{-14}`, for values smaller than this, compute `dx = \sinh^{-1}(x_1/x_0) - \sinh^{-1} (x_2/x_0)`, which for large `x_1/x_0` and `x_2/x_0` will give

[2018-06-14 21:12] rodluger commented on #104
@ericagol Did you find that the tridiagonal solver improved the stability of the code? Is it worth coding up in C?

[2018-06-14 21:29] rodluger commented on #84
@ericagol Hmm, so what are you thinking we should do? Report both fractional and relative errors? Just relative errors?

[2018-06-14 22:00] rodluger commented on #73
@dfm Any updates on this?

[2018-06-14 22:37] rodluger commented on #67
@dflemin3 Hey Dave, do you have time to work on this? I changed the convergence tolerance for the Kepler solver, so I'm interested in how we do in terms of speed/accuracy for moderate/high eccentricities when compared to batman.

[2018-06-14 22:40] ericagol commented on #84
I think just relative is fine, assuming that we normalize the unocculted flux for each `s_n` to unity.  I think what is going on in the `s_2` case is that the flux of the body goes to zero at the limb, so when the limb peaks out from behind the occulter, there is very little flux that appears at first.  We could try to improve the relative precision, but I don't think it will accomplish much.

[2018-06-14 22:42] ericagol commented on #104
It didn't seem to for the couple of cases that I tried, but I didn't test it widely.

[2018-06-14 23:00] rodluger commented on #84
Ok, but I think the unocculted flux from most of the `s_n` terms is zero. What should we do in that case?

[2018-06-14 23:03] ericagol commented on #84
Oh, good point.  Perhaps normalize by the largest flux that occurs during the ingress/egress?

[2018-06-14 23:12] rodluger commented on #84
That's a good idea, and easy to implement! I'll work on that.

[2018-06-15 14:47] dfm commented on #73
I don't. I tried the `-s` command but it doesn't catch anything because it's just a segfault and it seems to happen as soon as we instantiate any of the starry classes...

I don't have access to a Windows machine or any expertise here so I'm inclined to just skip windows for now. If someone needs it, perhaps they can help us make it work :-)

[2018-06-15 15:14] rodluger commented on #73
@dfm Ok, sounds good! I'll ping you about conda-forge at some point -- I think we're approaching a stable version of the code.

[2018-06-15 17:15] rodluger commented on #84
Done!

[2018-06-15 17:15] #84 closed

[2018-06-15 17:15] rodluger commented on #102
Done!

[2018-06-15 17:15] #102 closed

[2018-06-15 17:18] rodluger commented on #104
OK. I'm going to close this issue for now. The one thing I *did* have to implement is when `l` is very large (typically > 15 or so) the downward recursion for `J` begins to cause instabilities for `J_v` when `v` is small (since we're doing so many operations to get down to zero). It's not a big deal, but it decreases our precision from `ppb` to `~ppm`. So if `l` is very large, I actually compute `

[2018-06-15 17:18] #104 closed

[2018-06-15 17:20] rodluger commented on #84
![image](https://user-images.githubusercontent.com/9323819/41481136-aff5b04c-7085-11e8-9d29-66d56b21f337.png)
![image](https://user-images.githubusercontent.com/9323819/41481139-b526a2ec-7085-11e8-8937-591bec499a6f.png)

[2018-06-15 17:59] ericagol commented on #88
@rodluger How does the earth occultation look now that you've updated your code?

[2018-06-15 18:13] rodluger commented on #88
Really good!
![image](https://user-images.githubusercontent.com/9323819/41483192-ffd70d84-708c-11e8-9bac-5a275c76b150.png)

[2018-06-15 19:40] ericagol commented on #88
@rodluger Excellent!

[2018-06-15 21:02] rodluger opened #108 "`cel` does not converge in the limit `b - r = 1`"
This is a pathological case, but for large occultors, `cel` does not converge when `b > r + 1 - 1e-12`. We might need to enforce a hard boundary here to prevent the program from crashing.
On the **dev** branch:
[code]

[2018-06-15 22:58] ericagol commented on #108
@rodluger  Don't you use downward iteration for `I_v` and `J_v` in this case?   Or is it `s_2` which is causing the problem?

[2018-06-15 23:09] ericagol commented on #108
@rodluger My version seems to work fine if I use `IJv_lower`, but I did find that when `b = r + 1 - 1e-15` that `k2=0`.  This causes the `I_v` and `J_v` integrals to go to zero, but a division by `k^2` in the routines causes `NaN` values.  So, before those routines are called, I now check to see whether `k^2 > 0`.

[2018-06-16 01:04] rodluger commented on #108
I get the error when computing s2. Does that not happen for you?

On Fri, Jun 15, 2018, 4:09 PM Eric Agol <notifications@github.com> wrote:

[2018-06-16 01:10] ericagol commented on #108
@rodluger No, I don't.  The following line:

`julia> include("s2_stable.jl"); r=100.0; b=r+1-1e-12; s2(r,b)`

returns

`1.0`

[2018-06-18 15:40] rodluger commented on #108
I think I understand what the difference is. There's no `eps(x)` function for arbitrary `x` in C++, but there is the equivalent of `eps(1)`. I've been approximating `eps(x) ~ eps(1) * x`, which I think is fine, except when `x = 0`, which is the limit I'm hitting here. My tolerance is then identically zero and the integral never converges. I can just set a lower limit on the tolerance to fix this.

[2018-06-18 16:08] #108 closed

[2018-06-18 16:17] rodluger opened #109 "Better `minimize` method"
Currently, the `minimize` method of a map finds the minimum of the specific intensity (useful for ensuring the maps are positive semi-definite) by calling `scipy.minimize`, which is really dumb. @dfm and @dflemin3 do you know of any good/portable C++ libraries/functions for doing minimization? Ideally, something that allows for constrained minimization: minimize `I(x, y, z)` along the surface `x^2

[2018-06-18 16:30] rodluger commented on #109
Note that the first two cases are easy, and we should code them up separately:
- For degree `l = 0` maps, the constraint is trivial: `y_0 >= 0`.
- For degree `l = 1` maps, we worked out that we need `y_1^2 + y_2^2 + y_3^2 <= y_0^2 / 3`.

I suspect there may be an analytic solution to `l = 2`, but I haven't been able to find one. We need to find the minimum of
![image](https://user-images.githubuse

[2018-06-18 16:38] ericagol commented on #109
@rodluger What are the `y_0` ... `y_8` constants?

[2018-06-18 16:45] rodluger commented on #109
I call the vector of spherical harmonic coefficients `y` (for the `s^T A R R y` pun to work).

[2018-06-18 17:45] ericagol commented on #109
Maybe this will help:  https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4360959/

[2018-06-18 17:48] rodluger commented on #109
Nice! That does look super useful. Finding the minimum in spherical coordinates avoids the square roots. I'll dig into it.

[2018-06-18 18:12] ericagol commented on #109
HEALPix can find extrema through a nearest-neighbor search, but I think this is probably overkill for your purposes (it would involve pixellating the sphere):  https://arxiv.org/abs/astro-ph/9803317

[2018-06-19 16:34] ericagol opened #113 "Derivative stability issues"
@rodluger For Figure 10 (p. 26), the `r=0.01` case should have a range of impact parameter that extends from `b=0` to `b=1+r`.

[2018-06-19 16:43] rodluger commented on #113
That's a good point. My code doesn't care whether `b` is positive or negative, so there's nothing technically wrong with the figure, but there are regions that are plotted twice. But it makes a lot more sense to start at zero. Will do.

[2018-06-19 16:45] ericagol commented on #113
I think the regions to focus on are near `0`, `r`, `1-r`, `r`, and `1+r`.

[2018-06-19 17:13] ericagol commented on #113
I tried making a similar plot for the derivatives, but unfortunately there appear to be significant errors in computing the derivatives during ingress/egress for both `r=0.01` and `r=100`.  I'm getting `NaN` values as well differences between the finite difference `BigFloat` derivatives and the autodiff derivatives.  I haven't implemented the `cel` analytic derivatives yet;  perhaps that will help

[2018-06-19 18:16] ericagol commented on #113
In the `r=100` case, the derivative errors are occurring most often for `n` doubly even, just after the start and just before the end of ingress/egress.  In all of these cases, if I set `Q` to zero, the error disappears.  So, it may be worth investigating a bit further how to stably compute `H_{uv}`.

[2018-06-19 18:35] rodluger commented on #113
Interesting. I fixed figure 10. My Latex build on Travis is currently broken, so it might take a few hours for me to get the paper updated online. I'm changing the title of this thread to focus on derivatives.

[2018-06-19 18:39] rodluger commented on #113
What happens if you set P to zero? Is the instability in Q or in the difference Q - P?

[2018-06-19 19:55] ericagol commented on #113
@rodluger Ah, good question.  When I set `P` to zero, the same error occurs.

[2018-06-19 21:13] ericagol commented on #113
@rodluger I think I may have figured out a fix for this.  The problem seems to occur for `\lambda` near `\pi/2`.  If I define `\gamma = \lambda - \pi/2`, and then transform `\varphi` to `\varphi^\prime = \varphi-\pi/2`, then `H_{uv}` can be defined in terms of the sum of two integrals, one from `0` to `2\pi`, and another from `-\gamma` to `\gamma`, where `\gamma` is small.  The first integral can

[2018-06-19 22:11] rodluger commented on #113
Cool! Are you thinking this can replace H_{u,v} entirely in the paper?

[2018-06-19 22:28] ericagol commented on #113
@rodluger We'll see if it works - it will probably be like the `I_v` case where the analog to `k^2` for `H_{uv}` is stable when it is close to one (this parameter is given by `((b+1)^2-r^2)/(4b)`, which is also greater than one when `b+r <1` and less than one when `b+r>1`), and we'll need an alternate expression when it is too large or small.

[2018-06-21 00:53] ericagol commented on #113
@rodluger

Okay, this took longer to figure out than I had hoped, but it turns out there a three simple changes to make which seems to mostly fix this problem (and, in hind sight, perhaps it could have fixed the `I_{uv}` problem):

1).  I find it more numerically stable to evaluate `\lambda` from the following expression:

![image](https://user-images.githubusercontent.com/243664/41690379-1627bbe4

[2018-06-21 17:14] rodluger commented on #113
@ericagol Awesome, thank you for looking into this. I will implement these changes in my code and write a script to generate derivative stability plots.

[2018-06-21 17:22] ericagol commented on #113
Some of the derivatives are rather large, so I did use the `asinh` differences for the comparison (with the transition at 1).

[2018-06-21 19:07] ericagol commented on #113
@rodluger I'm looking into the errors on the `s_2` derivative, and one thing I'm finding is that the derivative errors grow as we approach `b=r` and as we approach `b=r` and `b=1-r` for `r<1`.   I'm wondering whether this means that we should revert back to using an expansion near these special cases.  This plots computes as close as `10^{-14}` to each of these limits, and you can see that the `ds

[2018-06-22 14:40] ericagol commented on #113
@rodluger I'm differentiating the original `\Lambda` expression, and it turns out that the derivatives do not depend on `\Pi(n,k^2)` at all!  This means we should be able to evaluate the derivatives with `p=1`.  I think this agrees with Pál's appendix.

[2018-06-22 14:53] ericagol commented on #113
@rodluger This turned out to be much easier than I expected!

Here are the expressions (courtesy of Mathematica):

![image](https://user-images.githubusercontent.com/243664/41783161-136bc858-75f1-11e8-9353-cf5e1cd07222.jpeg)

`\frac{\partial \Lambda}{\partial r} &= \frac{8br^2 E(k^2) + 2r(1-(b+r)^2)K(k^2)}{\pi\sqrt{br}}\\
\frac{\partial \Lambda}{\partial b} &= \frac{4r^2 E(k^2) - 2r(b+r)K(k^2)}{\p

[2018-06-22 15:23] rodluger commented on #113
Fantastic!!!

[2018-06-22 15:42] ericagol commented on #113
I suspect so.  There is a division by `\sqrt{br}`, and evaluation of `K(1)`, but it may be that the `cel` version is stable.

[2018-06-22 16:00] rodluger commented on #113
But the division by `\sqrt{br}` is only for `b + r > 1`, so it's unstable only when `r --> 0`, not `b --> 0`

[2018-06-23 01:12] ericagol commented on #113
Wow, this works well!  I had to put a floor in the figure of `10^{-18}` since most of the derivative differences were zero.  This is a comparison between these analytic formulae and a `BigFloat` numerical finite difference computation.  Left is `r=0.01`, right is `r=100`.

![s2_derivative_error_analytic](https://user-images.githubusercontent.com/243664/41804237-c190e94e-7647-11e8-8469-667d5e8325ed

[2018-06-23 01:37] ericagol commented on #113
Here is the above plot of the errors of `s_n`, but now with `s_2` replaced with analytic derivative.

![sn_derivative_error_lmax_10](https://user-images.githubusercontent.com/243664/41804427-43056920-764b-11e8-948a-4e2f678bd0da.png)

It looks like there could be some room for improvement on the errors of the `s_n` derivative, but overall the results look pretty good!

[2018-06-23 16:52] ericagol commented on #113
Not so fast...  I was using `\epsilon = 10^{-6}`.  If I decrease it to `10^{-12}`, I get this plot:

So, something is going wrong with `r=0.01` near `b=0` and `b=1-r` (and less so near `b=1+r`);  I'll track this down and see what is the causing the derivative problem (probably another near-cancellation of large numbers).   The `r>1` case still has errors near `r=b`, which may be a similar problem

[2018-06-23 19:05] ericagol commented on #113
The derivative of `I_v` is particularly simple:

![image](https://user-images.githubusercontent.com/243664/41812756-aba97cfe-76dd-11e8-8835-9be33ef62caf.jpeg)

`\frac{\partial \mathcal{I}_v}{\partial b} & = \frac{1}{2}k^{2v} \frac{\partial \kappa}{\partial b}\\
\frac{\partial \mathcal{I}_v}{\partial r} & = \frac{1}{2}k^{2v} \frac{\partial \kappa}{\partial r}`

However, `J_v` is much more complicat

[2018-06-23 20:08] rodluger commented on #113
Hmmm. I'm not sure that makes sense. How could the error on our derivatives
be smaller when compared to an inaccurate (epsilon = 1e-6) estimate versus
an accurate (epsilon = 1e-12) one?

On Sat, Jun 23, 2018, 12:05 PM Eric Agol <notifications@github.com> wrote:

[2018-06-23 20:32] ericagol commented on #113
Sorry - the epsilon parameter measures how close to b=1-r that I am computing the model.  So, as b approaches 1-r, the error grows.

I actually think that if we go back to computing I_uv with the same approach as H_uv that we are using now, this may fix the problem.

[2018-06-23 20:57] ericagol commented on #113
There also may just be a problem with how I coded this up - perhaps your version won't show this growth of error on the derivative in the `b=1-r` limit?

[2018-06-23 22:05] rodluger commented on #113
Ah, I see. I will try to code it up this weekend. Did you figure out the
Lambda derivatives in terms of cel?

On Sat, Jun 23, 2018, 1:57 PM Eric Agol <notifications@github.com> wrote:

[2018-06-23 22:41] ericagol commented on #113
Yes - I just used the expression from Bulirsch (1969) to convert `\lambda K(k) + \mu E(k)` to cel.

[2018-06-24 22:33] rodluger commented on #113
Can you TeX them up for the record when you get a chance?

[2018-06-24 23:07] rodluger commented on #113
@ericagol
I get the same increase in the error of the derivative in the limit `b --> 1 - r`. I also get the same behavior as you when `b --> 0` and `b --> 1 + r`:
![image](https://user-images.githubusercontent.com/9323819/41824637-5d5bed3e-77c8-11e8-9083-a4967af13120.png)
These are the errors on the actual *flux*, though, but since I'm not performing any rotations it amounts to the same thing. Als

[2018-06-24 23:12] rodluger commented on #113
Here are my derivatives with respect to `r`. They are quite similar.
![image](https://user-images.githubusercontent.com/9323819/41824681-5ad6376c-77c9-11e8-893f-5918a7c406fe.png)

[2018-06-24 23:17] rodluger commented on #113
@ericagol Oh, never mind. My `r = 100` derivatives are fine. They look bad here because I'm computing the numerical derivatives in python, *after* casting my `bigdouble` fluxes to `double` so that I can pass them to `numpy`. If I decrease my step size for the numerical derivative, I get better results; but I can only decrease it so far before I start getting numerical error on the numerical estima

[2018-06-25 04:53] ericagol commented on #113
@rodluger But the spike that both of us find at `b=1-r` for `r=0.01` is likely due to the auto diff numerical errors, right?

[2018-06-25 15:50] rodluger commented on #113
@ericagol The spike at `b=1-r` is in fact an autodiff instability. If I plot the derivative in the vicinity of that point I see wild oscillations. Another way to confirm this is to plot the difference between `ds(b)/db` and `0.5 * (ds(b-eps)/db + ds(b+eps)/db)` where `eps` is machine epsilon. This is a direct test for instability: at the smallest scales, the function should be linear, so these exp

[2018-06-25 15:55] rodluger commented on #113
@ericagol It's easy to imagine why autodiff is unstable in certain places. We've reparametrized our equations to eliminate expressions involving the differences of two nearly identical numbers. But this does not guarantee the stability of the *derivatives*, since the derivatives of terms in our expressions might experience near-cancellation.

@dfm Do you have any insights into this? I found nothin

[2018-06-25 16:09] dfm commented on #113
I'm not sure that I'm totally following all the discussion... there could absolutely be over/under flow errors introduced by the gradient propagation, but I'm lost enough here that I don't know what is specifically happening here.

[2018-06-25 16:29] rodluger commented on #113
I don't think the details matter too much. The big picture is that we reparametrized our equations for the flux so that they are *very* numerically stable at all values of the impact parameter `b` and the occultor radius `r`. But we're finding that in certain limits, the derivatives of these expressions computed by autodiff blow up. And yes, it's typically because of underflow: in some limits, we

[2018-06-25 16:45] rodluger commented on #109
@ericagol At one point you mentioned we might be able to inspect the magnitudes of the coefficients of a map at a given degree to infer whether the map is positive semi-definite. That is, a criterion that, if met, guarantees the map is non-negative everywhere (but not one that all positive semi-definite maps must meet, since *that's* not analytic).

One way to do this, I think, is to sum the maxim

[2018-06-25 17:17] dfm commented on #113
I'm not aware of any research into this and it's not obvious to me that reverse mode autodiff would help. At a fundamental level, autodiff is just applying the chain rule so you might have to try to audit where you're getting two gradients with similar signs and try to reparameterize there as you've been doing for the value. Another thing to consider would be providing your own analytic gradients

[2018-06-25 17:23] rodluger commented on #113
Gotcha. Yes, @ericagol is going to town on computing the derivatives by hand. @ericagol if this proves too difficult, I'm not above adding a hack to fix this. The region of parameter space where our expressions are unstable is quite small, so we could just take the performance hit and compute the derivatives using `BigFloat` in that vicinity...

[2018-06-25 23:01] ericagol commented on #113
@rodluger Okay, I have a partial fix.  Computing `I_0 = 2\cos^{-1} k_c` when `k^2 > 1/2` seems to fix the cases with the largest errors near `b=1-r` when `r=0.01`.

![sn_derivative_error_r0 01](https://user-images.githubusercontent.com/243664/41879790-fd08882a-788f-11e8-8fca-ca8338c4cbd9.png)

However, even though the derivative agrees, I'm getting some oddly shaped fluxes very close to `b=1-r`, a

[2018-06-26 00:05] rodluger opened #119 "Gradients of the map are wrong for inclined systems"
The map the user inputs gets rotated into the sky frame to compute the fluxes -- I wasn't rotating it back when outputting the derivatives, leading to errors on `dF/dY_{l,m}`. I'm currently working on a fix for this... stay tuned.

Also, I think the derivatives of the flux with respect to the map coefficients are rather trivial, since our model is linear in the `Ylm`s. Currently, gradient evaluati

[2018-06-26 00:07] rodluger commented on #109
OK, yes, but no rush. I just implemented a simple LBFGS algorithm on the C++ side to quickly find the minimum. Still nonlinear, but *much* faster than my previous approach, which wrapped `scipy`.

[2018-06-26 03:35] ericagol commented on #113
Here's a TeXed version of the `s_2` expressions:

![image](https://user-images.githubusercontent.com/243664/41887843-5835bf8e-78b7-11e8-8791-a7215acc0ef1.jpeg)

`\frac{\partial \Lambda}{\partial r} &= \frac{8br^2 E(k^2) + 2r(1-(b+r)^2)K(k^2)}{\pi\sqrt{br}}\\
&= \frac{1}{\pi\sqrt{br}}\mathrm{cel}(k_c,1,2r(1-(b-r)^2),0)\\
 \frac{\partial \Lambda}{\partial b} &= \frac{4r(r^2+b^2-1) E(k^2) + 2r(1-(b+r

[2018-06-26 03:38] ericagol commented on #113
Maybe the hack is the way to go...  I'm not making much headway on improving the accuracy, and I'm not sure that I'm up for computing all of the derivatives by hand, coding them up, and testing.

[2018-06-26 15:23] rodluger commented on #113
The hack it is then. Thanks for pushing through this far! Sounds like we
mostly just need a hack for b~0? And what's the second highest peak in your
last plot?

On Mon, Jun 25, 2018, 8:38 PM Eric Agol <notifications@github.com> wrote:

[2018-06-26 18:11] rodluger opened #120 "phase out healpy"
The `healpy` installation often fails via `pip`. We should phase this out soon.

[2018-06-26 19:41] rodluger opened #121 "Enforce monotonic limb darkening"
Use Sturm's theorem on the derivative of the intensity. Shouldn't be hard.

[2018-06-26 19:44] ericagol commented on #113
The second-highest peak is near `b=1-r`.

[2018-06-26 19:45] ericagol commented on #113
I did improve the `b ~ 0` for `r=0.01` a bit by computing `J_0` and `J_1` in the `k^2 >> 1` case in which we iterate downwards from large `J_v`.   Now the maximum error on the derivatives is `<10^{-3}` for `b=10^{-12}`.  However, this is likely to grow for smaller `b`, so the hack is still going to be necessary.

[2018-06-26 20:59] rodluger opened #123 "Allow spots and rotation in `starry.Star` objects"
I need to recode stuff in `orbit.h` to add this functionality.

Also, Brett Morris recommended we make it easier to add spots by specifying the spot contrast. The `add_gaussian` method isn't that intuitive. Let's re-think how to make it user-friendly.

[2018-06-26 23:04] ericagol commented on #113
And, if we get very close to `b=1-r` (say, `10^{-15}`), then the errors grow to order unity again.

Another option might be to just revert to the `b=1-r` case when `b` is close enough to `1-r`.

[2018-06-26 23:09] rodluger commented on #119
Fixed.

[2018-06-26 23:09] #119 closed

[2018-06-26 23:10] rodluger opened #124 "Compute gradients of the map coefficients manually for speed"
Resurrecting the comment from #119 :

I think the derivatives of the flux with respect to the map coefficients are rather trivial, since our model is linear in the Ylms. Currently, gradient evaluations are rather slow because the derivative vectors I'm passing around to all functions are long and mostly full of zeros. If we compute the gradients w.r.t. the map coefficients manually, we can greatly

[2018-06-26 23:13] rodluger commented on #109
My LBFGS solver seems to have worked.

[2018-06-26 23:13] #109 closed

[2018-06-26 23:15] rodluger commented on #113
Cool. I'm happy to just hack our problems away in these limits.

[2018-06-26 23:33] rodluger commented on #120
`starry` no longer installs `healpy` by default. Users who wish to import maps as images or Healpix arrays have to manually install it. I'm upgrading this issue to an `enhancement` so we can eventually phase `healpy` out completely.

[2018-06-27 05:01] ericagol commented on #113
@rodluger Which `\mu,\nu` values are those?

Here is my latest.  I found that computing `I_0 = \cos^{-1}(k_c)` fixed the region just above `b=1-r`.

![sn_derivative_error_lmax_5_r0 01](https://user-images.githubusercontent.com/243664/41953774-686a3288-798c-11e8-9ffd-55ccf670d106.png)

[2018-06-27 08:32] dfm commented on #124
This is absolutely a good idea!!

[2018-06-27 13:30] rodluger commented on #49
We are addressing this in #113.

[2018-06-27 13:30] #49 closed

[2018-06-27 15:23] rodluger commented on #113
Oops, my bad. I had `s1` and `s3` mixed in. Here's the plot just for s2, and it looks great.
![image](https://user-images.githubusercontent.com/9323819/41983372-bf2f03ea-79e2-11e8-85b4-13b936cb2e9d.png)
However, I am finding that `cel` does not converge in the `r = 100` case within `1e-12` of `r - 1` and `r + 1`...

[2018-06-27 15:42] ericagol commented on #113
@rodluger Is that problem occurring for `s_2`, or for the others?

Unfortunately with my latest changes, the errors on the `r=100` case have gotten larger...

![sn_derivative_error_lmax_5_r100](https://user-images.githubusercontent.com/243664/41984636-f9895236-79e5-11e8-850f-fe969cffc74e.png)

But, `s_2` seems fine within `10^{-12}` of `r-1` (and same with the other terms).

[2018-06-27 15:43] ericagol commented on #113
(I haven't made color scheme consistent yet).

[2018-06-27 16:32] rodluger opened #125 "selective override of Eigen autodiff?"
@dfm When I'm computing (say) an elliptic integral, I manually define its gradient like this:
[code]
How can I do this selectively, i.e., choose whether or not to use this analytic expression depending on the value of `z`? Is there a way to place an `if` statement in there that tells `Eigen` to go ahead and autodiff it in some cases?

[2018-06-27 16:36] rodluger commented on #113
@ericagol I figured it out. `cel` didn't converge specifically when evaluating `s_2` near `b = r - 1` and `b = r + 1`. In these limits `k^2` is very close to zero and `kc^2` is very close to one, and whatever expression I was using for `kc` was not very precise. Taking `kc^2 = 1 - k^2` fixed the issue.

[2018-06-27 16:51] ericagol commented on #113
@rodluger  I think I mentioned this before, but I found that it is better to evaluate `k_c` directly in terms of `b` and `r`.  The `cel` algorithm doesn't make use of `k^2` (except when `p=0`, which is rare), so I found that it is better to just use `k_c` in the cel algorithm.

[2018-06-27 16:56] rodluger commented on #113
Actually that's what I had been doing. But the problem is that when `b --> 1 - r`, this expression
[code]
evaluates to a number that's very close to one. I find it to be more stable to compute
[code]
in this limit, since `k^2` is close to zero and more precise.

[2018-06-27 17:11] ericagol commented on #113
Okay, that's great!  So, now I have four cases for evaluating `k_c` (in addition to the special cases):

[code]

[2018-06-27 18:08] rodluger commented on #113
Things look good on my end too. I am now computing the numerical derivatives in C++ using `bigdouble`, so this is the most accurate plot I have so far.
![image](https://user-images.githubusercontent.com/9323819/41991358-fbbcd244-79f9-11e8-9028-5693df1f038e.png)

[2018-06-27 18:15] ericagol commented on #113
@rodluger  You are doing better than I am for `r=100`;  I wonder what the difference is?

![sn_derivative_error_lmax_5_r100](https://user-images.githubusercontent.com/243664/41991722-5a8dd54c-79fb-11e8-9cf6-c0286a03905d.png)

[2018-06-27 22:28] rodluger commented on #125
Also in this vein, is there a way to provide the derivatives w.r.t. one of the input parameters, and have Eigen compute the other one?

[2018-06-27 22:34] rodluger commented on #113
@ericagol Strange. I think there are small differences in how we compute lambda, phi, and k^2 (for instance). But I'm not too worried -- both look great.

I'm having a bit of trouble overriding the autodiff derivatives with `bigdouble` numerical derivatives. Would it be hard to derive a first order approximation to ds/db (or dP/db) when b = 0? Something that works below 1e-12. I imagine even a *ze

[2018-06-27 23:34] ericagol commented on #113
@rodluger Looking at equation (D25), if `b+r <1`, then `\phi` is constant, so the derivative
is equal to `dP/db = (\nu/2) 2(2r)^{l+2} K_{\mu/4+1,\nu/2-1}`, I think.  If so, this may work in the general case as well, but not during ingress/egress.

For the odd case, I find at `b=0` that

![image](https://user-images.githubusercontent.com/243664/42005132-d582bf48-7a27-11e8-9f31-54e4fa9c1290.jpeg)

`

[2018-06-27 23:48] ericagol commented on #113
Assuming I haven't made a mistake, the recursion relation for `H_{uv}` with `\lambda = \pi/2` may be used to simplify this:

![image](https://user-images.githubusercontent.com/243664/42005536-d7a11048-7a29-11e8-9e75-1cc2d4f030b6.jpeg)

`\frac{\partial P}{\partial b} &= \frac{\nu-1}{2} (1-r^2)^{3/2} \int (r c_\varphi)^{\tfrac{\mu-1}{2}} (r s_\varphi)^{\tfrac{\nu}{2}-\tfrac{3}{2}} d\varphi\\
&+ \fra

[2018-06-28 10:11] dfm commented on #125
For conditional autodiff, I think that you'd probably implement it as something like this (disclaimer: typed in the browser):

[code]

I can't think of a way to only compute the gradient wrt to just one parameter, so tell me more about the use case and I'll brainstorm.

[2018-07-04 03:30] #64 closed

[2018-07-04 03:32] rodluger commented on #125
@dfm Nice, thanks.
The derivative of the flux is unstable with respect to the impact parameter in some cases, but not with respect to the radius or the map coefficients. I was hoping to have Eigen compute the latter and provide an explicit formula for the former.

[2018-07-04 21:08] rodluger commented on #101
@ericagol If you have time, could you clean up the `julia/` folder a bit? Perhaps place the tests in separate directories, rename `sn_bigr` since it's no longer just for large `r`, and expand the `README` to describe what each of the files does? Then I can create some simple tests to compare our results.

[2018-07-04 21:21] ericagol commented on #101
@rodluger Yes, I've been meaning to do that.  I've been thinking about a couple of other issues:

1.  The `Julia` implementation just computes the `s_n` functions, and not the entire map (nor any of the other tremendous functionality you have in `s^TAR'Ry` package.
2.  Apparently `Julia` packages require a separate repository, which is why we created `celerite.jl` as a separate repository from `ce

[2018-07-04 22:13] ericagol commented on #101
@rodluger Okay, I've moved the code, and reorganized the `limbdark` structure some.

[2018-07-04 22:30] rodluger commented on #101
@ericagol Ok, awesome! Can I go ahead and delete the `julia` folder in `starry`?

[2018-07-04 22:38] ericagol commented on #101
I already deleted it (perhaps I need a pull request?).

[2018-07-05 17:17] dfm commented on #125
OK - you might be able to do something like (the usual disclaimer...):

[code]

[2018-07-06 07:24] ericagol opened #127 "Figure 18 precision"
I would expect the precision of Spiderman to improve with the number of layers, but the size of the dots appears to be constant for `n_layers >= 10`.  Is this true, or is there a bug in the code that creates the plot?  Or perhaps it is too difficult to see a linear decrease in the size of the dots which have a logarithmic scaling?

[2018-07-06 16:49] dflemin3 commented on #127
The Spiderman precision appears to scale linearly with n_layers, so there is an improvement in the precision, but it's pretty small and isn't too apparent on the log scale.

[2018-07-06 18:05] #127 closed

[2018-07-07 18:43] rodluger commented on #125
Nice, thanks! Will try this out.

[2018-07-07 18:43] rodluger commented on #124
This seems to be working great. Will commit changes soon.

[2018-07-07 18:43] #101 closed

[2018-07-07 18:59] rodluger opened #129 "Generate random maps"
Would be nice to allow users to generate random maps with a given power spectrum. I started coding this up at one point, so this should be super easy and useful, i.e., as a testbed for exoplanet mapping methods.

[2018-07-07 23:31] rodluger opened #130 "Code refactoring"
The C++ API is in dire need of refactoring.

- [x] **The initialization of derivative vectors should be done on a per-method basis to conserve memory and speed things up.** For instance, when a user instantiates a multi-planet system, the derivative vector length is about ten times the number of planets. But when computing the flux from an individual planet, the only nonzero derivatives are those

[2018-07-07 23:39] rodluger commented on #68
Moved to #130.

[2018-07-07 23:39] #68 closed

[2018-07-09 16:22] rodluger opened #131 "Derivatives with respect to rotation axis"
It's tricky to differentiate the flux with respect to the rotation axis vector, since the components of a unit vector are not independent: `x dx + y dy + z dz = 0`. I was struggling to get agreement between the autodiff derivs and the numerical derivs, so I disabled differentiation of `planet.axis` and the `axis` argument of `map.flux`. I will try to code this up again for the next version.

[2018-07-10 01:10] rodluger commented on #124
This has now been implemented!

[2018-07-10 01:10] #124 closed

[2018-07-10 02:55] rodluger commented on #121
Done!

[2018-07-10 02:55] #121 closed

[2018-07-10 17:49] rodluger commented on #113
@ericagol
I'm finally getting back to this and I'm a bit lost among all the proposed solutions to tackling derivative stability. From some tests I've been running, `starry` is unstable near `b = 0` and `b = 1 - r` and things go a little haywire everywhere when `r = 0.5`. Can you point me to the things you've implemented on your end to address these issues? Did you verify the two equations above ar

[2018-07-10 18:17] ericagol commented on #113
@rodluger I haven't checked the above equations yet.  I'm thinking that the approach I used to stabilize the limb-darkening computations in `transit_poly.jl` may help with computing `s_n` as well, but I haven't tried this out yet.

[2018-07-10 18:23] ericagol commented on #113
@rodluger One thing that I found helped with the `b~0` case was to compute `J_0` and `J_1` for `k^2 >>1` from the elliptic integral formulae rather than by recursion.  See this commit:

https://github.com/rodluger/starry/commit/5409919599a01ddc7fb4bff1d34a44f910071f1e

But, I ended up commenting out the `k^2<1` part.

[2018-07-10 19:56] rodluger commented on #113
@ericagol Doing what you said above seems to make the instability /worse/ for me. I'm going to dig into this more on my flight back tonight.

[2018-07-10 20:39] ericagol commented on #113
Interesting.  I'll try to look into it as well;   I've been pushing to write up what I've done for the limb dark paper (since you were hoping to submit that nearly concurrently with STARRY), but I can get back to this as well.

[2018-07-11 16:32] rodluger commented on #113
Cool, thanks. Don't sweat it too much with limbdark; I haven't had any time
lately to work on it, so I was thinking of submitting starry now and maybe
trying to sync when the two papers actually show up on the arxiv in a
couple months.

On Tue, Jul 10, 2018 at 1:39 PM Eric Agol <notifications@github.com> wrote:

[2018-07-11 16:34] ericagol commented on #113
Well, part of the reason I'm trying to finish is that I have other projects to move onto, and I'd like to get this wrapped up as well!

[2018-07-11 16:45] rodluger commented on #113
Works for me then! I'll try to start coding up all that stuff into `starry`
in the next few days.

On Wed, Jul 11, 2018 at 9:34 AM Eric Agol <notifications@github.com> wrote:

[2018-07-11 17:18] rodluger commented on #125
@dfm Now that I've thought about this some more, I think it's going to be a huge pain to re-template the code to accommodate this. I was thinking an easier workaround is to do
[code]
I.e., we cache the actual derivative vector of `b`, zero it out to compute the function as normal, then add the analytic derivative back in. Does this look OK?

[2018-07-13 18:47] #125 closed

[2018-07-13 18:50] rodluger commented on #113
I'm upgrading this issue from `bug` to `enhancement`. The derivatives are no longer `NaN` anywhere and remain stable within `1e-9` of the unstable points. Closer in than that, the errors approach unity, but in practice this should never be encountered. I've added code to ensure that *at* the actual limits, the derivatives are correct.

[2018-07-14 12:40] dfm opened #133 "Why is starry_maps a different project?"
I think that it would make things much easier to maintain and package if we combined them.

[2018-07-14 16:52] rodluger commented on #133
Merged them, thanks!

[2018-07-14 16:52] #133 closed

[2018-07-15 13:14] dfm opened #135 "We might need c++11 support"
The unix compilers that conda-forge uses are ancient and it doesn't look like we'll be able to use c++14...

It looks like all that is needed is to update the Table initialization in starry/tables.h, but I don't understand well enough what is going on there to do it myself.

[2018-07-15 13:16] dfm commented on #135
I started a branch to try this out: https://github.com/rodluger/starry/tree/c++11

[2018-07-15 13:38] rodluger commented on #135
Ah, bummer. Yes, I switched to c++14 so I could use for loops and other
stuff inside constexpr. There's a way to do all this with c++11 but it's
pretty ugly. I can look into it later today if you don't figure it out by
then!

On Sun, Jul 15, 2018, 6:16 AM Dan Foreman-Mackey <notifications@github.com>
wrote:

[2018-07-15 20:07] dfm commented on #135
OK. I definitely don't know what's going on there, so I'll leave it up to you to re-write :-) Sorry!

[2018-07-15 23:20] rodluger commented on #135
No worries. I think I figured out how to do it, but man, it's ugly. I'll
push soon.

On Sun, Jul 15, 2018 at 1:07 PM Dan Foreman-Mackey <notifications@github.com>
wrote:

[2018-07-16 00:03] rodluger commented on #135
@dfm [Womp womp](https://travis-ci.org/rodluger/starry/builds/404250991?utm_source=email&utm_medium=notification). I figured out how to get the code to compile with C++11 using variadic templates and it compiles fine with `clang` on a Mac. But it turns out that gcc-4.9 and below [have a bug](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=52892) that was fixed in gcc-5.0. I imagine that we can't use

[2018-07-16 01:30] rodluger commented on #135
@dfm Working now with C++11. Do you need me to merge this into master?

[2018-07-16 02:12] rodluger commented on #135
@dfm Can you also check that what I did [here](https://github.com/rodluger/starry/commit/770a4dd7f204125e15e1de8ab24d1297eb1a10f3#diff-2eeaed663bd0d25b7e608891384b7298R111) is correct? Check out my comment [here](https://github.com/rodluger/starry/commit/9de683cc9bc2194ab544b4f688a64649b8901cd9#comments).

[2018-07-16 02:33] dfm commented on #135
Yes! Sorry I was traveling. This looks great! I'll give it a try on conda-forge and get back to you.

[2018-07-16 11:50] dfm commented on #135
OK. Sweet! It looks like that worked: https://github.com/conda-forge/staged-recipes/pull/6287

It might be easiest if you either replace the current 0.1.1 or do a release for 0.1.2.

[2018-07-16 15:18] rodluger commented on #135
@dfm Done. Master is now up to date, I've created a branch called v0.1.2 and a release with the same name, and uploaded that version to PyPI.

[2018-07-16 15:35] rodluger opened #137 "Code profiling"
We should profile the code to see where it can be sped up. @dfm, do you have experience doing this in C++?

Also, @ericagol mentioned floating-point division is nearly ten times as expensive as multiplication. So we should re-write some of the math with that in mind.

[2018-07-16 15:35] #73 closed

[2018-07-16 15:36] rodluger commented on #73
Discussion continued in #136.

[2018-07-16 15:38] rodluger commented on #137
See also discussion on how to speed up the elliptic integrals [here](https://github.com/rodluger/limbdark/issues/26).

[2018-07-16 20:53] dfm commented on #137
This all sounds good. The only other thing that you might look into is vectorization. If you use Eigen to do standard operations on arrays instead of looping over them, you can get substantial speedups because it can vectorize. To get that, you also need to compile with `-march=native` and I often find that `-O2` is better than `-O3` perhaps because `-O3` tries to be too clever, but I have no idea

[2018-07-16 21:04] rodluger commented on #137
Haha, wow. Yeah, I tried O2 and it seems to be about 5% faster! Weird. As
for vectorization, the code uses Eigen arrays pretty much everywhere. Is
there a specific part of the code you're thinking needs vectorizing?

On Mon, Jul 16, 2018 at 1:53 PM Dan Foreman-Mackey <notifications@github.com>
wrote:

[2018-07-16 22:13] dfm commented on #137
Cool! I didn't have anything specific in mind - just the first thing I've
been going to recently for performance optimization.

On Mon, Jul 16, 2018 at 4:04 PM Rodrigo Luger <notifications@github.com>
wrote:

--
Dan Foreman-Mackey
Associate Research Scientist
Flatiron Institute
http://dfm.io

[2018-07-17 00:04] rodluger commented on #137
Things to do, off the top of my head:

- [ ] Pass `kc` to the elliptic integrals, since the square root is expensive
- [ ] Hard code constants like 1/3 and 2/3, which are frequently used

[2018-07-17 18:18] ericagol commented on #137
Okay, after optimizing the elliptic integrals, and doing a fairer comparison, I'm finding that Pal's code takes 0.52 seconds for 10^6 evaluations of quadratic limb-darkening and gradients, while transit_poly_structure.jl takes 0.29 seconds, a 44% speed advantage.  There is still some room for improvement since I'm computing some quantities twice, and there are some redundant divisions and square r

[2018-07-17 21:22] rodluger commented on #137
Awesome. I'm running the `callgrind` profiler on my code. The two biggest bottlenecks in my code are the computation of the rotation matrices and the computation of the Vieta's formula coefficients `A`. The elliptic integrals are virtually **free** in comparison to these two.

[2018-07-18 15:14] #135 closed

[2018-07-18 15:15] #5 closed

[2018-07-18 15:36] rodluger commented on #137
Ok, by far the biggest speed improvement will come from changing how I rotate the map about the z axis to align the occultor with the y axis. It turns out the Wigner rotation matrix is almost trivial for rotation about z, so it's much faster to compute the rotated vector directly. From inspection, it seems like the rotation operation for a given degree `l` is

![image](https://user-images.githubus

[2018-07-18 15:37] rodluger commented on #137
Attached is a (zipped) Mathematica notebook backing up my claim:
[R.nb.zip](https://github.com/rodluger/starry/files/2206395/R.nb.zip)

[2018-07-18 16:17] rodluger commented on #5
@jlustigy FYI I think we want theta to be longitude and phi to be latitude, to be consistent with the ISO convention. I made the change in the plot & text.

[2018-07-18 16:53] jlustigy commented on #5
Great! When I initially coded it up I tried to match your convention in the
text, but you hadn't defined theta and phi in words. It looks like you
still haven't...

On Wed, Jul 18, 2018 at 9:17 AM, Rodrigo Luger <notifications@github.com>
wrote:

--
Jacob Lustig-Yaeger
Astronomy & Astrobiology Graduate Student
University of Washington
jlustigy.github.io

[2018-07-18 17:47] rodluger commented on #5
@jlustigy https://github.com/rodluger/starry/blob/191f9af5cdc2d6f9d4738a324be38d5c6a0a6273/tex/starry.tex#L203

[2018-07-19 15:50] rodluger commented on #135
@dfm When does the package actually become installable via conda?

[2018-07-19 16:08] dfm commented on #135
It normally takes a few hours in my experience. I'll let you know.

[2018-07-19 16:10] rodluger commented on #135
thanks!

On Thu, Jul 19, 2018 at 9:08 AM Dan Foreman-Mackey <notifications@github.com>
wrote:

[2018-07-22 21:06] rodluger opened #141 "Wrong flux when x=0, y<0"
When `xo=0`, `yo<0`, the `flux` method needs to rotate the frame by 180 degrees to get the correct flux. This is due to an if statement that checks whether we need to rotate the frame, but it misses this case (it's an edge case, so not the end of the world). This is an easy fix.

[2018-07-22 21:08] rodluger commented on #141
I just fixed this and will push soon.

[2018-07-22 22:47] #141 closed

[2018-07-22 22:51] rodluger commented on #137
@ericagol This worked really, really well:
![image](https://user-images.githubusercontent.com/9323819/43051011-f76f3dcc-8dc6-11e8-8879-2e1a6491558d.png)
For `l > 2`, it's actually **faster** to compute occultation light curves than it is to compute phase curves (assuming you can neglect the planet's rotation over the course of the occultation!)

[2018-07-23 01:31] ericagol commented on #137
That's interesting!  It sounds like there is room for improvement in the phase-curve computation (or perhaps it's just that there are more points being computed?).

This brings up an interesting point:  if you have a map that you wish to rotate, then could you just define the `z`-axis as the rotation axis, and perform the rotation.  Then, carry out the rotation to a particular time.    Then, proje

[2018-07-23 15:52] rodluger commented on #137
@ericagol That plot is the time it takes to compute a *single* flux point, meaning it's faster to compute `s^T` than it is to compute the rotation matrix `R` for `l > 2`.

I'm not entirely sure I follow what you're saying -- can you explain that again? Perhaps it's similar to what I was thinking: since the axis of rotation is constant, perhaps we could break the rotation matrix down into two parts

[2018-07-23 15:54] ericagol commented on #137
I haven't thought it through carefully, but that does make sense.

[2018-07-23 15:57] rodluger commented on #137
In other words, we rotate the base map at the beginning to align the axis of rotation with `zhat` via a rotation matrix `R` and store the inverse, `R^-1`. Then, at each cadence, we compute the rotation matrix `Rz` for rotation about `zhat` (which is super fast). I think the map at that cadence is then just `y' = R^-1 Rz y`.

[2018-07-23 16:58] rodluger commented on #137
@ericagol I just tried this out and it worked! Top is my method (fast z rotation + constant perpendicular rotation), bottom is a single slow rotation:

![image](https://user-images.githubusercontent.com/9323819/43091356-bc04e280-8e5e-11e8-873d-59d62a2f19c9.png)

[2018-07-23 17:03] rodluger commented on #137
Here's some pseudocode. First, pre-compute the map in the rotated frame (where the axis is aligned with zhat) and the inverse of the rotation matrix used to get there:
[code]

Then, at each cadence, all we need to do is
[code]

[2018-07-24 17:44] rodluger opened #142 "Gradient of `evaluate` is broken"
The parameter labels in the gradient dictionary are scrambled because of a bug in memory allocation. I fixed this already but haven't pushed to master or to PyPI/conda. Just a heads-up for anyone who runs into issues. I'm refactoring the code a bit and will push in the next few days.

[2018-07-24 18:02] rodluger commented on #137
It worked! For `l = 2` it didn't make much difference, but for `l = 5` it's a factor of 4 faster. I suspect it will **really** speed up the very high degree maps.
![image](https://user-images.githubusercontent.com/9323819/43157099-d27719a2-8f30-11e8-9480-3440ac49fa83.png)

[2018-07-25 15:59] rodluger commented on #137
Closing this, continuing discussion in #130.

[2018-07-25 15:59] #137 closed

[2018-07-27 00:02] rodluger opened #143 "Multiple gradient types"
Currently our AutoDiff type has a `derivatives` vector size that is fixed at compile time via the `STARRY_NGRAD` macro (currently set to 12). This is nearly two orders of magnitude faster than using a `Dynamic` `Eigen` vector. However, the number of gradients the user needs depends on what they want to do. If all they want is to compute gradients of the flux for a `Map` object, only 4 derivs are n

[2018-07-27 00:34] rodluger commented on #143
Hmm, now that I think about this some more, perhaps a better solution is to use different gradient types at the *function* level. It seems silly to have to propagate a large derivative vector through all the elliptic integral calculations when the flux depends on essentially only three parameters: the `x` and `y` position of the occultor and its radius `r`. We could use a `Grad` type of size `3` f

[2018-07-31 21:16] rodluger opened #148 "quick AutoDiff question"
@dfm  Given the following definitions
[code]
I can create a vector of `AutoDiffScalar`s:
[code]
where `vec` has ten elements, each with three derivative directions.

**Question:** Say I need access to the zeroth derivative direction of `vec`. For any particular index `i` in `vec`, that's just `vec(i).derivatives()(0)`. But how can I easily access the entire **vector** of derivatives, short of doin

[2018-07-31 21:58] rodluger commented on #148
Works for me. Thanks!

[2018-07-31 21:58] #148 closed

[2018-09-13 20:42] rodluger commented on #143
This has been resolved in the upcoming release.

[2018-09-13 20:42] #143 closed

[2018-09-13 20:42] rodluger commented on #142
This gradient has been disabled in the upcoming release.

[2018-09-13 20:42] #142 closed

[2018-09-13 20:45] rodluger commented on #131
Archiving this for now.

[2018-09-13 20:45] #131 closed

[2018-09-13 20:46] #130 closed

[2018-09-13 20:47] rodluger commented on #123
The `LimbDarkenedMap` class was eliminated in the upcoming version, so all maps can have limb darkening + spherical harmonic features. I'm still working on a better `add_gaussian`.

[2018-09-13 20:47] #67 closed

[2018-09-13 20:53] rodluger opened #149 "A few wrinkles in the dev branch"
- [x] The `is_physical()` method is taking a few orders of magnitude (!!) longer to run than the previous version's `psd()`. Investigate.
- [x] The `is_physical()` method seems to be broken for limb-darkened maps, as it's outputting some weird results in the tutorial notebook.
- [x] I still need to re-introduce some version of the `add_gaussian()` method to easily add star spots.
- [x] Once the ab

[2018-09-13 20:53] #123 closed

[2018-09-14 18:51] #149 closed

[2018-09-26 19:51] rodluger commented on #81
I spoke with Keaton Burns and he said that people usually compute the spherical harmonics from Legendre polynomial recursion relations, which are extremely stable up to `l` of several *thousand*. I will try to code this up for the next version of `starry`.

[2018-09-26 20:16] ericagol commented on #81
Great!  Was that Keaton Bell?

[2018-09-26 20:38] rodluger commented on #61
@RuthAngus @benjaminpope As it happens Eric Agol had already thought of this! See his post above with useful references for our project.

@ericagol Ruth, Ben, and I are thinking of tackling this problem. There are several directions we could head in. Ben suggested looking for eclipsing RR Lyrae stars, although there don't seem to be any confirmed ones so far. But there are [delta Scutis](https://a

[2018-09-26 20:40] rodluger commented on #81
No -- [Keaton Burns](http://keaton-burns.com/); he does fluid dynamics here at the CCA and uses spectral methods & spherical harmonics to solve his ODEs.

[2018-09-28 13:33] rodluger commented on #61
@benjaminpope I need to read it in more detail, but the target in the paper @ericagol posted above seems *perfect* for this prroject. Just look at this thing:

![image](https://user-images.githubusercontent.com/9323819/46211426-834c4f00-c301-11e8-91e5-05a0066f87bf.png)

[2018-09-28 13:35] benjaminpope commented on #61
Gorgeous! I wonder - it looks like the pulsations are tidally induced, and
so they're phase coherent with the eclipses. What does this mean for the
eclipse mapping?

On Fri, Sep 28, 2018 at 9:33 AM Rodrigo Luger <notifications@github.com>
wrote:

--
Dr Benjamin Pope
NASA Sagan Fellow
Center for Cosmology and Particle Physics
New York University
726 Broadway
New York, NY 10003

[2018-09-28 13:39] rodluger commented on #61
Good eye! I don't know. We can still map stuff I'm sure. Plus, ingress/egress duration is a sizable fraction of the orbital period, so the distortion won't appear as a purely radial mode.

[2018-09-28 13:59] ericagol commented on #61
Yeah, the one thing that worries me about this system is whether one could treat the stars as spheres, which is a requirement for starry.

[2018-09-28 20:55] rodluger opened #152 "Compare to other codes"
Compare to [PyTranSpot](https://arxiv.org/pdf/1710.11209.pdf). This code pixelates the star, so starry should be orders of magnitude faster, even at high `l`.

[2018-10-02 03:55] ericagol commented on #54
@dfm @rodluger When you set the tolerance, do you scale it with, say, the radius-ratio squared so that the precision scales with the depth of transit?  Or do you keep it a constant?

[2018-10-03 19:16] rodluger commented on #54
@ericagol I don't scale it; it's just a knob the user can set. I'm finding that in order to get sub-ppm precision I need to recurse many dozens of times, which is pretty unfortunate. We should try to come up with a faster way of doing this. I still want to try out my idea of computing the fluence integral analytically...

[2018-10-03 20:07] rodluger opened #153 "Gradients during planet-planet occultations"
I have not yet coded up the derivatives of the flux during mutual occultations of `Secondary` instances. This is not particularly difficult, just a bit tedious. Currently the code raises an error if the user requests gradients and one of these occurs.

[2018-10-04 18:04] rodluger commented on #54
Perhaps since we can so easily compute dF/dt we could do a Taylor expansion of the fluence. But I think @dfm once scoffed at that idea :)

[2018-10-04 18:08] ericagol commented on #54
@rodluger I'm not sure that I follow...

[2018-10-04 18:11] rodluger commented on #54
@ericagol We want to take the time integral of F over the exposure window. I'm suggesting we expand F as F0 + dF/dt * delta t, whose integral is trivial if we assume dF/dt is constant. Alternatively, we could take higher order derivatives (which we could probably compute analytically) to get higher precision.

[2018-10-04 18:15] dfm commented on #54
I "scoff" at a lot of things ... don't take it too seriously ;-)

[2018-10-04 18:22] ericagol commented on #54
@rodluger That's a good idea, but I think it simply amounts to a higher-order integrator.

[2018-10-04 18:35] rodluger commented on #54
@ericagol I like that idea a lot.

[2018-10-04 21:19] rodluger opened #154 "Occultations in reflected light"
Some scattered thoughts on how to compute the integrals when one of the boundaries is the day/night terminator.

The parametric form of the line defining the terminator on a body of unit radius is
[code]
where `r` is the semi-minor axis of the ellipse, `phi` is the angular parameter of the ellipse, ranging from `0` to `pi`, and `theta` is the angle between the semi-major axis of the ellipse and th

[2018-10-08 15:59] rodluger commented on #153
Done!

[2018-10-08 15:59] #153 closed

[2018-10-09 17:00] ericagol commented on #54
@rodluger Another thing I'm thinking about:  the points of contact are smoothly varying for all `Y_{lm}` beyond `l=m=0`.  So, I suspect that the numerical time integration needs to be finest for just the uniform component.  If we make the approximation that the velocity is constant over the integration time, then *I think* we can compute this analytically in terms of incomplete elliptic integrals.

[2018-10-12 14:04] rodluger commented on #54
@ericagol @dfm I'm going to play around with these different integration methods. I think this could even be its own paper. If my idea of Taylor expanding the integrand pans out, here's what the fluence integral will look like:
![image](https://user-images.githubusercontent.com/9323819/46873873-b7496900-ce05-11e8-97a8-acc9ec8f128d.png)
where `eps` is the exposure time and `t0` is the bin center. I

[2018-10-12 14:06] rodluger commented on #54
I also suspect that this series converges very quickly. Assuming the number of operations is about the same for each derivative order (if we're able to get analytic expressions for them, and recycle a lot of terms), I suspect this will be much faster than calling the flux function tens of times to approximate the fluence.

[2018-10-15 15:11] rodluger opened #159 "Cite some papers"
- [ ] [Rauscher et al. 2018](http://adsabs.harvard.edu/cgi-bin/nph-bib_query?bibcode=2018arXiv180605700R&data_type=BIBTEX&db_key=PRE&nocookieset=1)

[2018-10-15 16:06] ericagol opened #160 "Typo in paper"
"polynomimal" -> "polynomial"

[2018-10-15 16:08] ericagol commented on #160
Also, in equation (6), we could just write:  `m = n - l^2 -l`.

[2018-10-15 18:10] #160 closed

[2018-10-15 19:29] ericagol opened #161 "Question about Figure 18"
What was the radius-ratio of the occulter that was used?

[2018-10-15 19:41] rodluger commented on #161
https://github.com/rodluger/starry/blob/v0.2.2/tex/figures/spidercomp.py#L31

[2018-10-16 15:11] rodluger opened #162 "Doppler spectroscopy with starry"
@ericagol @dfm I think we can very easily extend `starry` to do Doppler spectroscopy. Instead of the spherical harmonics representing intensity, they can represent *velocity*. We can do stuff similar to these two papers, which actually grid up the star with pixels. We should be able to do this much faster.

[Vogt, Penrod and Hatzes (1987)](http://adsabs.harvard.edu/abs/1987ApJ...321..496V)
![image

[2018-10-16 15:12] #161 closed

[2018-10-16 15:45] rodluger opened #163 "Why is julia so much faster?"
This is a plot of speed tests for a quadratically limb-darkened transit, comparing `starry`, `batman`, and Eric's `limbdark` julia code:
![image](https://user-images.githubusercontent.com/9323819/47028985-7ec4ca80-d138-11e8-98f4-f82cb7c61fcc.png)
My non-gradient computations are comparable in speed to Eric's (albeit slower by several tens of percent), but my gradient ones are super slow. Granted I

[2018-10-16 15:53] ericagol commented on #163
@rodluger Could it simply be due to using autodiff?  One thing I found in my implementation was that allocating memory can take time, so if I pre-allocate arrays with a structure, this sped up my code.  However, with autodiff I'm not sure how to pre-allocate memory, and the autodiff'ed code may have even more memory allocation since it needs to track and propagate gradients.

It might also be inte

[2018-10-17 13:54] rodluger opened #164 "Change of basis matrix"
It may be useful to have a function in `starry` that computes a change of basis matrix from spherical harmonic coefficients to pixels/spaxels on the disk. When you evaluate a `starry.Map` object at a point, the code is already applying this transform; but it would be nice to return the actual transform matrix so that this can be done repeatedly. One immediate application is to transform from a pos

[2018-10-17 17:14] dfm opened #165 "Include zenodo reference in bibliography"
From Twitter: https://twitter.com/dainabouquin/status/1052606508964360192?s=21

[2018-10-17 22:45] rodluger opened #167 "Planet luminosity should be a vector for spectral maps"
Working on this in the `spectral` branch.

[2018-10-20 19:24] rodluger opened #170 "Create a LaTeX class for fancy code/figure links"
Let's adapt the AASTeX class file to include code/proof/figure links so other people can easily do the same!

[2018-10-22 16:09] rodluger opened #171 "Fix normalization for spectral maps"
When using multi-wavelength `starry`, the map normalization at each wavelength (i.e., the spectrum) is lost when loading a Healpy array, since `starry` normalizes the map to have `y[0] = 1`. This is silly and we should either fix it or provide an easy, intuitive way to preserve the normalization. Here's a notebook with a function that does just that.
[HealpixFix.ipynb.zip](https://github.com/rodlu

[2018-10-22 20:32] dfm opened #172 "Default values for "r" and "L""
These should be documented here: https://rodluger.github.io/starry/api.html#starry.kepler.Secondary.r but I can't figure out your docstring magic to make that work. For a secondary, the default `r` seems to be `0.1` and the default `L` is `0.0`, I think.

[2018-10-22 20:40] rodluger commented on #172
@dfm Thanks for pointing this out. Yes, those are the defaults. I've pushed changes that should propagate to the docs once the tests run on travis.

[2018-10-22 20:52] dfm commented on #172
excellent.

[2018-10-22 20:52] #172 closed

[2018-10-23 13:54] rodluger opened #174 "Python 2 compatibility"
Add `from __future__ import division, print_function, etc` as needed. At least one user has had trouble with unicode string compatibility.

[2018-10-23 16:10] dfm commented on #174
Can you post the specific error that they had?

[2018-10-26 17:02] ericagol opened #175 "Quaternions and spherical harmonics"
Apparently quaternions have some nice properties for enabling rotation:

https://twitter.com/3blue1brown/status/1055859641689636864
https://eater.net/quaternions

and they are related to spherical harmonics:

http://iopscience.iop.org/article/10.1088/0143-0807/5/3/008/meta

https://ieeexplore.ieee.org/document/6471227

https://arxiv.org/abs/math/0401153

And, here is some python code:

http://mobl

[2018-10-29 17:53] rodluger opened #176 "Reverse mode autodiff"
Implement STAN's reverse mode AD for derivatives in `starry`. This should greatly speed up the computation and could help us in computing higher order derivatives.

[2018-10-29 17:54] rodluger commented on #171
@jlustigy Did my hack work for what you were doing? Should I go ahead and implement it in `starry`?

[2018-10-29 17:55] rodluger opened #177 "Benchmarking using `asv`"
Set up a job on a local machine to track the performance of `starry` after every commit using [airspeed velocity](https://github.com/airspeed-velocity/asv).

[2018-10-29 18:14] rodluger commented on #54
@ericagol @dfm Quick update on this. Here's an example of what I'm thinking of doing:
![image](https://user-images.githubusercontent.com/9323819/47670017-97929e80-db82-11e8-95f4-76d106970754.png)
The top panel shows the flux (blue) and the fluence computed with extremely high precision Gaussian quadrature (black). Overlaid on the black line are my approximations using second derivatives *only*. Th

[2018-10-29 19:00] ericagol commented on #54
@rodluger    That looks impressive!  The second derivatives are not well defined across the points of contact - do you identify each contact point first, and then bin between the contact point and the boundary of the time bin which straddles it?

I have only computed the derivatives analytically for the `m=0` case (for the limblark code).  Of course, if you want to continue computing the derivativ

[2018-10-29 19:28] rodluger commented on #54
@ericagol Yes, I identify all the necessary subdivisions to ensure the derivatives are well-behaved in the limits of integration. But this is still for an occultor moving along the x axis at constant speed, so I'm going to have to work out the math for identifying the times of contact for arbitrary occultor paths. I'm still not sure how to do it, but a constant velocity (or constant acceleration)

[2018-10-29 22:35] jlustigy commented on #171
Hey @rodluger, It works perfectly with `starry.Map`:

![figure_1](https://user-images.githubusercontent.com/8882466/47683807-f27dc300-db8d-11e8-9fbe-ceaa7915e179.png)

But it doesn't work yet with `starry.kepler.Secondary`. I tried applying your fix to the planet map and then exchanged the Y_{0,0} coefficients with the luminosity to avoid the `RuntimeError: Bodies instantiated via the Kepler modul

[2018-10-29 22:44] rodluger commented on #171
Cool! Try dividing your map by the y_0 coefficient before feeding it to
starry, then setting the luminosity to that value. Does that work?

On Mon, Oct 29, 2018, 6:35 PM Jacob Lustig-Yaeger <notifications@github.com>
wrote:

[2018-10-30 00:36] jlustigy commented on #171
That doesn't seem to do it 😿

I replaced the last line in my above code with:
[code]

[2018-10-31 22:59] rodluger commented on #170
I created the repo https://github.com/rodluger/corTeX for this.

[2018-10-31 22:59] #170 closed

[2018-11-01 15:50] rodluger commented on #171
@jlustigy Can you post a MWE for me to play with?

[2018-11-01 15:54] rodluger commented on #171
@jlustigy Actually, instead of what you tried last, can you try simply this:
[code]

[2018-11-01 15:56] rodluger commented on #177
I created the repo https://github.com/rodluger/starry-benchmarks for this. Timing results will soon be posted to rodluger.github.io/starry-benchmarks.

[2018-11-01 15:57] #177 closed

[2018-11-01 21:09] jlustigy commented on #171
This gives the following error:
[code]

This is likely because `planet.L` is a wavelength-dependent vector and `y[0,0]` is a scalar, but if I use `y[0, :]` then we are back to where we started, with a non-unity `y[0]`.

As far as a MWE, the example I am working on is located on the gen_lightcurves branch of the [eigenspectra](https://github.com/multidworlds/eigenspectra) project. This fix appears

[2018-11-02 18:23] rodluger commented on #171
@jlustigy I fixed it for you: https://github.com/multidworlds/eigenspectra/pull/36
It was just a matter of multiplying the intensity by the luminosity when plotting. Let me know if this looks good, and if so, I'll patch `starry` itself. I can make the default behavior to auto-set the luminosity when a map is loaded via the Secondary class.

[2018-11-02 21:06] jlustigy commented on #171
@rodluger awesome! Thank you!

[2018-11-06 14:29] rodluger opened #180 "Fix Linux builds"
Currently the code appears to be a factor of ~3-5 slower on Linux than on Mac, and the executable sizes are 1-2 orders of magnitude (!!!) larger. Look into this.

[2018-11-07 20:35] rodluger commented on #180
@dfm I think I figured it out. `setuptools` passes the `-g` flag to the compiler by default, which adds a ton of debug information to the build. On Mac that doesn't amount to much (or perhaps `clang` ignores the request), but on Linux it *really* matters. I got my executable from 725MB down to 6.8MB (!!!) The build still takes forever, and I haven't done speed tests to see if the code runs faster,

[2018-11-07 20:58] dfm commented on #180
Crazy! Good find.

On Wed, Nov 7, 2018 at 3:35 PM Rodrigo Luger <notifications@github.com>
wrote:

--
Dan Foreman-Mackey
Associate Research Scientist
Flatiron Institute
http://dfm.io

[2018-11-07 22:14] rodluger opened #181 "Re-factor using Eigen::Ref"
As @dfm pointed out, we should be using [Eigen::Ref](http://eigen.tuxfamily.org/dox/TopicFunctionTakingEigenTypes.html#TopicUsingRefClass) as much as possible. In particular, this will *really* help speed up the vectorization, which is currently done very sloppily in `pybind_vectorize.h` using lots of copying. We can also use this to reduce all of the logic behind the wavelength dependence, which

[2018-11-07 22:15] #180 closed

[2018-11-27 21:02] rodluger opened #183 "hysteresis for maps with Y_{0,0} = 0"
Something's a little funky with the `reset()` method in the current release. The two plots should be identical, but there's definitely something wrong with the second one.
![image](https://user-images.githubusercontent.com/9323819/49111312-c1141800-f25d-11e8-95ac-58c8b44d7b48.png)

[2018-11-28 16:20] rodluger commented on #38
I'm currently implementing this for work with @megbedell. Seems to work great, but I should lift the requirement that the `Y_{0,0}` coefficient of `starry.kepler.Primary` instances be fixed at unity. When using `starry` to model the R-M effect, this corresponds to the net radial velocity of the star, which I think we want to be zero. The orbital/systemic motion should be added later, I think.

[2018-11-29 16:36] rodluger commented on #183
There's this issue, too, which is probably related:
![image](https://user-images.githubusercontent.com/9323819/49236845-043fc980-f3cb-11e8-8c99-be763f286c58.png)

[2018-11-29 20:13] rodluger opened #184 "There are still NaNs in some limiting cases"
These issues are encountered in the well-known singularities, such as when `b + r = 1`. In practice they are hardly ever encountered in real modeling scenarios, but they do need to be fixed.

![image](https://user-images.githubusercontent.com/9323819/49249049-46780380-f3e9-11e8-8fb3-db069808cd14.png)

[2018-12-01 16:19] rodluger commented on #184
This is also bad:
[code]

[2018-12-30 21:30] rodluger commented on #184
Both of these have been fixed on the `gradients` branch and will be pushed to master soon.

[2018-12-30 21:30] #184 closed

[2018-12-30 21:46] rodluger commented on #183
The second issue has been fixed; it was just a matter of scaling the limb-darkened flux by the `Y_{0,0}` coefficient.

[2018-12-30 22:05] rodluger commented on #183
The first issue has also been fixed on the `gradient` branch. The problem was related to the `skip` attribute of the `G` class not being reset between calls. Will push changes to master shortly.

[2018-12-30 22:05] #183 closed

[2018-12-30 22:07] rodluger commented on #181
This is being done on the `v2` branch.

[2018-12-30 22:07] #181 closed

[2018-12-30 22:08] rodluger commented on #164
This has been implemented in the `v2` branch.

[2018-12-30 22:08] #164 closed

[2018-12-30 22:09] rodluger commented on #163
The julia and cpp codes are now comparable in speed on the `v2` branch.

[2018-12-30 22:09] #163 closed

[2018-12-30 22:09] rodluger commented on #129
This feature has been added on the `v2` branch.

[2018-12-30 22:09] #129 closed

[2018-12-30 22:10] rodluger commented on #38
This is being implemented in the `v2` branch.

[2018-12-30 22:10] #38 closed

[2018-12-31 17:44] rodluger opened #186 "v1.0.0 checklist [deprecated]"
A list of current issues I'm tackling on the `dev` branch for the upcoming `v1.0.0` release (soon, I promise!)

**In progress**
- [x] Implement a `spectral` base for wavelength dependence.
- [ ] Implement a `temporal` base for time dependence via a custom basis provided by the user.
- [x] Implement a `reflected` base for maps in reflected light.
- [x] Optimize the backpropagation in all C++ method

[2018-12-31 17:49] #174 closed

[2018-12-31 17:49] rodluger commented on #176
Migrating to #186.

[2018-12-31 17:49] #176 closed

[2018-12-31 17:50] rodluger commented on #120
Migrated to #186.

[2018-12-31 17:50] #120 closed

[2018-12-31 17:52] rodluger commented on #113
Migrated to #186.

[2018-12-31 17:52] #113 closed

[2018-12-31 17:52] rodluger commented on #78
Migrated to #186.

[2018-12-31 17:52] #78 closed

[2018-12-31 17:55] rodluger commented on #81
Migrated to #186.

[2018-12-31 17:55] #81 closed

[2018-12-31 17:56] rodluger commented on #54
Migrated to #186.

[2018-12-31 17:56] #54 closed

[2019-01-18 21:21] rodluger commented on #186
And here is a running list of all the changes in v1.0.0 (in no particular order). This will be incorporated into the CHANGELOG upon release:

- The normalization of limb-darkened spherical harmonic maps has changed. The normalization is such that the total **luminosity** of the map remains unchanged when limb darkening is applied or when the limb darkening coefficients are modified. Note that this

[2019-02-12 16:56] rodluger commented on #152
Compare to [ellc](https://ui.adsabs.harvard.edu/#abs/arXiv:1603.08484), an all-purpose eclipsing binary/exoplanet light curve tool.

[2019-02-12 17:21] ericagol commented on #152
And [Phoebe](http://phoebe-project.org).

[2019-02-13 04:50] exowanderer opened #187 "Eclipse depth vs Phase Curve Ampitude"
**Motivation**
I am trying to use the `system.lightcurve` in `starry` with my `emcee` implementation to fit a `starry` phase curve model to my Spitzer photometry.

**Background**
When I ran a MCMC analysis on existing Spitzer+Phase Curve code ([skywalker](https://github.com/munozcar/SKYWALKER)), I found that the eclipse depth with `STARRY` was roughly twice the eclipse depth measured using _only_

[2019-02-13 12:32] rodluger commented on #187
@exowanderer Thanks for the **awesome** issue description. I'll play around with things a bit this morning, and we can chat throughout the day, but right off the bat I think the issue is with your interpretation of the `Y_{1,0}` harmonic. That harmonic is symmetric about the plane of the sky, so whatever flux you are adding to the dayside, you are also *subtracting* it from the night side. So by s

[2019-02-13 12:38] rodluger commented on #187
Oh, and the other thing I'll mention (since this is somewhat buried in our paper). If you just have a dipole map, the way to enforce positivity everywhere on the surface is to make sure that

[code]

In your case, `planet[1,0] = 1`, so the map intensity dips below zero on the night side.

[2019-02-13 12:51] rodluger commented on #187
I think this is what you want. Give it a shot, and let's chat more today:
[code]

[2019-02-13 18:22] rodluger opened #188 "Spectral modeling of starspots"
@mrtommyb @christinahedges would like a simple working example of a rotating M dwarf with a cool spot from which we can generate time-dependent spectra. I'll put together a Jupyter notebook on this.

[2019-02-14 07:22] exowanderer commented on #187
Thanks to our efforts today, I was able to make a conversion script between starry's inputs and phase curve physical properties. There are still some kinks to work out (i.e. the phase curve offset overly modifies the day-to-night contrast); but this is a big step in the right direction:

**No Phase Curve Offset:** Works to the best of my ability to distinguish
![starry_physical_inputs_no_phase_cur

[2019-02-14 15:07] rodluger commented on #187
@exowanderer I'll poke around your code a bit, but as per our conversation this morning, this is how you add a 30 degree longitudinal offset to the dipole map:
[code]

[2019-02-14 15:23] rodluger opened #189 "Reflected light"
I figured out the general expressions for the total flux visible from each polynomial term in the case that the disk is bounded by an elliptical terminator segment of semi-minor axis `b`. Assuming this is our geometry,

![image](https://user-images.githubusercontent.com/9323819/52796716-57c4c980-3042-11e9-89ac-eb2f24336bc1.png)

the expressions for the case where the planet is between new phase an

[2019-02-14 15:25] rodluger commented on #189
All other phases can be obtained by combining rotations along with the expression for the integral over the full disk. The next step is to tackle the Hypergeometric function, which always simplifies to simple trig functions for the arguments above. I'll work on a recursion relation.

[2019-02-14 16:56] rodluger commented on #189
Another note: the illumination factor under this geometry is `(1 - b) * y - b * z`.

[2019-02-14 19:18] ericagol commented on #189
@rodluger Try making the substitution:

![image](https://user-images.githubusercontent.com/243664/52811380-ca857300-3049-11e9-9121-38e319320a96.png)

`y = \alpha \sqrt{1-x^2}`

in the inner integral.  Then, your integral becomes

![image](https://user-images.githubusercontent.com/243664/52811449-f9034e00-3049-11e9-8f28-b29cfb4afd44.png)

`\int_{-1}^1 dx x^i (1-x^2)^{j/2+1} \int_b^1 \alpha^j (1-\al